doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Give It Forward
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/bootstrap-select.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='/ico/favicon.png')
    body
        .container-fluid
            .row
                .col-md-2.btn-group-vertical.btn-col.dimgreybackground
                    a.btn.homebtn(href='/index')
                        img.logomini(src='/img/maroon_shadow.png')
                    a(href='/index')#backToLogin.greybtn.btn.selected Back to Login
                    //a#forAChildBtn.greybtn.btn.btn-secondary(href='#') For a Child
                    //a#rentBtn.greybtn.btn.btn-secondary(href='#') Rent
                    //a#schoolBtn.greybtn.btn.btn-secondary(href='#') School
                    //a#utilitiesBtn.greybtn.btn.btn-secondary(href='#') Utilities
                .col-md-10
                    h2 Contact Us
            .row
                .col-md-12





