extend layout
block content
    h1 Profile Info
    .container
        .row
            .col-sm-6
                img(src="/img/smiley.png", width="80%", height="90%")
            .col-sm-6
                a.roundmediumbtn.btn.winebtn.mainbtn(href='#') upload image
                a.roundmediumbtn.btn.winebtn(href='#') choose image
    input.round.bio(type='text', placeholder='user bio')
    a.btn.round.winebtn(href="#")
        | Tags
    a.round.btn.winebtn.mainbtn(href='/requestFeed') Add Info to Profile
    a(href='/requestFeed')
        | fill out later
