doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Give It Forward
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/bootstrap-select.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='/ico/favicon.png')
        script(type='text/javascript', src='/js/require.js', data-main='/js/reentry.js')
        //script(type='text/javascript', src='/js/require.js', data-main='/js/reentry-optimized.min.js')
        script(type='text/javascript').
            var userInfo = !{JSON.stringify(user)}

        block js
    body
        .container-fluid
            .row
                .col-md-2.btn-group-vertical.btn-col.turqouisebackground
                    a.btn.homebtn(href='#')
                        img#logoMini.logomini(src='/img/turquoise_shadow.png')
                    a#homeBtn.turquoisebtncol.btn.selected(href='#') Home
                    a#orgsBtn.turquoisebtncol.btn(href='#') Orgs
                    a#myProfileBtn.turquoisebtncol.btn(href='#') My Profile
                    a#usersBtn
                    a#adminBtn
                    a#logoutBtn.turquoisebtncol.btn(href='#') Log Out
                #mainHomeContainer.col-md-10.container-fluid.no-padding

