doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Give It Forward
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/bootstrap-select.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='/ico/favicon.png?')

        link(href='svgavatars/css/spectrum.css', rel='stylesheet')
        link(href='svgavatars/css/svgavatars.css', rel='stylesheet')

        script(type='text/javascript', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
        script(type='text/javascript', src='/js/require.js', data-main='/js/reentry.js')
        //script(type='text/javascript', src='/js/require.js', data-main='/js/reentry-optimized.min.js')

        // for loading the user on refresh
        script(type='text/javascript').
            var userInfo = !{JSON.stringify(user)}

        block js
    body
        #svgAvatars(style={display: 'none'})
        #homeStuff