doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Give It Forward

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='svgavatars/css/spectrum.css')
        link(rel='stylesheet', href='svgavatars/css/svgavatars.css')

        link(rel='shortcut icon', href='/ico/favicon.png?')

        script(type='text/javascript', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js')

        // Require Js CAUTION:: THIS LIBRARY MUST BE AFTER JQUERY! OR ELSE JQUERY WILL GET OVER WRITTEN!
        script(type='text/javascript', src='/js/require.js', data-main='/js/reentry.js')

        // Latest compiled JavaScript
        //script(type='text/javascript', src='/js/require.js', data-main='/js/main-optimized.min.js')
        script(type='text/javascript').
            var userInfo = !{JSON.stringify(user)}

        block js
    body
        #svgAvatars(style={display: 'none'})
        #homeStuff
        #footerRefresh(style={display: 'none'})
            .footer.turquoise.whitetext
                p Give It Forward &copy; 2018