doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Give It Forward
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/bootstrap-select.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='/ico/favicon.png?')
        script(type='text/javascript', src='/js/require.js', data-main='/js/reentry.js')
        //script(type='text/javascript', src='/js/require.js', data-main='/js/reentry-optimized.min.js')

        // for the image generator
        // CSS
        link(href='svgavatars/css/spectrum.css', rel='stylesheet')
        link(href='svgavatars/css/svgavatars.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500,700&subset=latin,cyrillic-ext,cyrillic,latin-ext', rel='stylesheet', type='text/css')
        // JavaScript
        script(src='lib/jquery.js')
        script(src='svgavatars/js/svg.min.js')
        script(src='svgavatars/js/spectrum.min.js')
        script(src='svgavatars/js/jquery.scrollbar.min.js')
        script(src='svgavatars/js/canvg/rgbcolor.js')
        script(src='svgavatars/js/canvg/StackBlur.js')
        script(src='svgavatars/js/canvg/canvg.js')
        // Place here 2 svgAvatars scripts
        script(src='svgavatars/js/svgavatars.en.js')
        script(src='svgavatars/js/svgavatars.core.min.js')

        // for loading the user on refresh
        script(type='text/javascript').
            var userInfo = !{JSON.stringify(user)}

        block js
    body
        .container-fluid
            .row
                .col-md-2.btn-group-vertical.btn-col.turquoisebackground
                    a.btn.homebtn(href='#')
                        img#logoMini.logomini(src='/img/turquoise_shadow.png')
                    a#homeBtn.turquoisebtncol.btn.selected(href='#') Home
                    a#orgsBtn.turquoisebtncol.btn(href='#') Orgs
                    a#myProfileBtn.turquoisebtncol.btn(href='#') My Profile
                    a#myOrgProfileBtn
                    a#usersBtn
                    a#logoutBtn.turquoisebtncol.btn(href='#') Log Out
                #mainHomeContainer.col-md-10.container-fluid.no-padding.lightgreybackground

