doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Give It Forward
        link(href='/css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='/ico/favicon.png?')

        link(href='svgavatars/css/spectrum.css', rel='stylesheet')
        link(href='svgavatars/css/svgavatars.css', rel='stylesheet')

        script(type='text/javascript', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js')
        script(type='text/javascript', src='/js/require.js', data-main='/js/main.js')

        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        // jQuery library
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        // Latest compiled JavaScript
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //script(type='text/javascript', src='/js/require.js', data-main='/js/main-optimized.min.js')

        // for loading the user on refresh
        script(type='text/javascript').
            var userInfo = !{JSON.stringify(user)}

        block js
    body
        block content