extend layout

block content
    #svgAvatars(style={display: 'none'})
    #homeStuff
        nav.navbar.navbar-default.navbar-static-top(style='margin:auto;')
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-2', aria-expanded='false', style='border-color:white;')
                        span.sr-only Toggle navigation
                        span.icon-bar(style='background-color: white;')
                        span.icon-bar(style='background-color: white;')
                        span.icon-bar(style='background-color: white;')
                    a.navbar-brand(href='http://giveitforward.us') Give It Forward
                        img.navbar-left(style='margin:-5%; margin-right: 5px; width: 30px; height: 30px;', src='/img/turquoise_shadow.png', alt='Give It Forward')
                #navbar-collapse-2.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right(style='font-size: 1.2em;')
                        li
                            input#googleIn(type='checkbox', style='display:none', data-firstname='', data-lastname='', data-email='', data-idtoken='')
                            #googleSignin.g-signin2(data-onsuccess='onSignIn', style='margin-top:5%;margin-right:2%;')
                            script.
                                function onSignIn(googleUser) {
                                    // Useful data for your client-side scripts:
                                    console.log('inline jade function');
                                    var profile = googleUser.getBasicProfile();

                                    // The ID token you need to pass to your backend:
                                    var id_token = googleUser.getAuthResponse().id_token;

                                    document.getElementById("googleIn").setAttribute("data-firstname", profile.getGivenName());
                                    document.getElementById("googleIn").setAttribute("data-lastname", profile.getFamilyName());
                                    document.getElementById("googleIn").setAttribute("data-email", profile.getEmail());
                                    document.getElementById("googleIn").setAttribute("data-idtoken", googleUser.getAuthResponse().id_token);
                                    document.getElementById("googleIn").click(event);
                                }
                                function onFailure(error) {
                                    console.log(error);
                                }
                                function renderButton() {
                                    gapi.signin2.render('googleSignin', {
                                        'scope': 'profile email',
                                        'width': 240,
                                        'height': 50,
                                        'longtitle': true,
                                        'theme': 'dark',
                                        'onsuccess': onSuccess,
                                        'onfailure': onFailure
                                    });
                                }
                        li
                            a(href='#', data-toggle='modal', data-target='#signupModal')
                                span.glyphicon.glyphicon-user
                                |  Sign Up
                        li
                            a(href='#loginModal', data-toggle='modal', data-target='#loginModal')
                                span.glyphicon.glyphicon-log-in
                                |  Login
        .container.background.turquoise-angles(style='width:100%;')
            .row
                .col-md-12.text-center
                    h1 People Helping People
            .row
                .col-md-3
                .col-md-6
                    #myCarousel.carousel.slide(data-ride='carousel', style='width:100%;margin: 5% auto;margin-bottom:10%;')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#myCarousel', data-slide-to='0')
                            li(data-target='#myCarousel', data-slide-to='1')
                            li(data-target='#myCarousel', data-slide-to='2')
                        // Wrapper for slides
                        .carousel-inner
                            .item.active
                                img(src='/img/landing/students.jpg', alt='Students', style='width:100%;')
                                .carousel-caption
                                    h3 Helping Students
                            .item
                                img(src='/img/landing/parent.jpg', alt='Parents', style='width:100%;')
                                .carousel-caption
                                    h3 Helping Parents
                            .item
                                img(src='/img/landing/park.jpg', alt='People', style='width:100%;')
                                .carousel-caption
                                    h3 Helping People
                        // Left and right controls
                        a.left.carousel-control(href='#myCarousel', data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left
                            span.sr-only Previous
                        a.right.carousel-control(href='#myCarousel', data-slide='next')
                            span.glyphicon.glyphicon-chevron-right
                            span.sr-only Next
                .col-md-3
        .container(style='width:100%;')
            #more.row(style='margin: 5% auto;')
                .col-md-2
                .col-md-2
                    button.titlebutton.yellow(data-toggle='collapse', href='#tutorial')
                        i.fas.fa-lightbulb.fa-10x(style='width:100%;padding:5%;')
                        | Website Tutorial
                .col-md-1
                .col-md-2
                    button.titlebutton.turquoise(data-toggle='collapse', href='#us')
                        i.fas.fa-angle-double-right.fa-10x(style='width:100%;padding:5%;')
                        | Meet the Developers
                .col-md-1
                .col-md-2
                    a.titlebutton.orange(href='http://211utah.org/', target='_blank')
                        i.fas.fa-hands-helping.fa-10x(style='width:100%;padding:5%;')
                        | Other Resources
                .col-md-2
        .container.background.weave(style='width:100%;')
            #tutorial.row.collapse
                .col-md-1
                .col-md-10.text-center
                    iframe(style='margin:2%;', width='700', height='500', src='https://www.youtube.com/watch?v=DutAMchCtRI')
                .col-md-1
            #us.row.collapse
                .col-md-1
                .col-md-11
                    h1 Meet the Developers.
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle.maxwidth(src='/img/landing/jen.jpg', alt='Jen Simons', style='width:100%;')
                    .col-md-8
                        h4 Jen Simons
                        p I taught middle school choir for almost six years before I made the decision to switch careers to make more money. Computer Science had never been on my radar before that even though I have several male family members and friends who are software engineers. I decided to try out an Intro to CS course at the University of Utah after asking one of them, "Hey, do you think I could do that?" It turns out I can do that. In my nonexistent spare time I enjoy singing, drinking wine and taking walks with my daughter.
                    .col-md-1
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle.maxwidth(src='/img/landing/boo.jpg', alt='Boo Chalhoub', style='width:100%;')
                    .col-md-8
                        h4 Boo Chalhoub
                        p I come from a family of intelligent, strong women who have always encouraged me to challenge myself and absorb as much knowledge as possible.  Throughout my childhood I sought out projects that melded analytical thinking with creativity, which originally landed me as an architecture major. I didn’t love it completely and found my true passion when I took my first CS class and never looked back.  Since then I have continued to challenge myself in the major as well as in my jobs as a TA and a software developer.  As well as a computer scientist, I am an avid soccer fan, violin player, and graphite artist.
                    .col-md-1
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle.maxwidth(src='/img/landing/kenzie.jpeg', alt='Makenzie Elliott', style='width:100%;')
                    .col-md-8
                        h4 Makenzie Elliott
                        p Lectus dis vehicula hendrerit ridiculus nec luctus erat taciti orci hendrerit felis eu hac condimentum eros montes curabitur nam sapien. Donec posuere lacus, nulla nostra class ac fames libero accumsan magna viverra. Posuere sed luctus gravida ante dis elementum pretium gravida parturient inceptos penatibus curabitur, molestie. Nunc tempus, nascetur. Penatibus, tortor. Venenatis nullam commodo mattis turpis nibh sagittis gravida fames placerat ornare feugiat primis non. Mollis. Nulla libero et duis aliquam praesent amet montes etiam vulputate diam fusce. Dictumst consequat volutpat condimentum pretium ipsum lectus placerat nascetur sociis venenatis mattis vulputate etiam nonummy. Placerat suscipit odio auctor nonummy. Dui sapien.
                    .col-md-1
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle.maxwidth(src='/img/landing/sara.jpg', alt='Sara Adamson', style='width:100%;')
                    .col-md-8
                        h4 Sara Adamson
                        p As a young child I was always curious about the world. I used to pester my dad with endless questions about how computers work. I remember he once tried to use a light switch to explain binary to me. When I was about 10 I started my own business called “Dude My Computer’s Broken”. I’ve come a long way since then but I’ve still got a lot to learn. I’m looking forward to my future as a software developer and innovator.
                    .col-md-1
        //.footer
        //    p Footer information aboug giveitforward.us goes here.
        // Forgot password Modal
        #forgotPasswordModal.modal(tabindex='-1', role='dialog', aria-labelledby="forgotPasswordModal")
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        img(style='max-width:180px; margin:-5px; float:left;', src='/img/logo.png', alt='Give It Forward')
                        button.close(type='button', data-dismiss='modal', data-target='forgotPasswordModal') ×
                    .modal-body
                        .form-group
                            label Enter your email address and we'll send you a link to reset your password
                            input#forgottenPasswordEmail.form-control(type='email', placeholder='enter email', name='email')
                    .modal-footer
                        button#sendEmailBtn.btn.btn-default(type='submit', data-dismiss='modal', data-target='forgotPasswordModal') Send email

        #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModal', aria-hidden='true')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        img(style='max-width:180px; margin:-5px; float:left;', src='/img/logo.png', alt='Give It Forward')
                        button.close(type='button', data-dismiss='modal', aria-label='Close', data-target='loginModal')
                            span(aria-hidden='true') ×
                    .modal-body
                        .form-group
                            label(for='username') Email:
                            input#username.form-control(type='username', placeholder='Enter email', name='username')
                        .form-group
                            label(for='password') Password:
                            input#password.form-control(type='password', placeholder='Enter password', name='password')
                    .modal-footer
                        button#loginSubmitBtn.btn.btn-default(style='float:left;', type='submit', data-dismiss='modal', data-target='loginModal') Log in
                        label#loginErrorLabel(style="float:left; color: red")
                        span.psw
                            a(href='#', data-toggle='modal', data-target='#forgotPasswordModal', data-dismiss='modal') Forgot password?

        #signupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby="loginModal")
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        img(style='max-width:180px; margin:-5px; float:left;', src='/img/logo.png', alt='Give It Forward')
                        button.close(type='button', data-dismiss='modal', data-target='signupModal') ×
                    .modal-body
                        .form-group
                            label(for='newFirstname') First name:
                            input#newFirstname.form-control(type='first name', placeholder='first name', name='first name')
                        .form-group
                            label(for='newLastname') Last name:
                            input#newLastname.form-control(type='last name', placeholder='last name', name='last name')
                        .form-group
                            label(for='newUsername') Username:
                            input#newUsername.form-control(type='username', placeholder='Enter username', name='username')
                        .form-group
                            label(for='newEmail') Email:
                            input#newEmail.form-control(type='email', placeholder='Enter email', name='email')
                        .form-group
                            label(for='newPassword') Password:
                            input#newPassword.form-control(type='password', placeholder='Enter password', name='password')
                        .form-group
                            label(for='newVerifyPassword') Confirm password:
                            input#newVerifyPassword.form-control(type='password', placeholder='Re-enter password', name='confirm password')
                        button#createAccountBtn.btn.btn-default(type='submit', data-dismiss='modal', data-target='signupModal') Sign up
    #footer
        .footer.turquoise.whitetext
            p Give It Forward &copy; 2018