extend layout

block content
    #svgAvatars(style={display: 'none'})
    // Forgot password Modal
    #forgotPasswordModal.modal(tabindex='-1', role='dialog', aria-labelledby="forgotPasswordModal")
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    img(style='max-width:180px; margin:-5px; float:left;', src='/img/logo.png', alt='Give It Forward')
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .form-group
                        label Enter your email address and we'll send you a link to reset your password
                        input#forgottenPasswordEmail.form-control(type='email', placeholder='enter email', name='email')
                .modal-footer
                    button.btn.btn-default(type='submit', data-dismiss='modal', data-target='#sendEmailBtn') Send email
    #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModal', aria-hidden='true')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    img(style='max-width:180px; margin:-5px; float:left;', src='/img/logo.png', alt='Give It Forward')
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .form-group
                        label(for='username') Username:
                        input#username.form-control(type='username', placeholder='Enter username', name='username')
                    .form-group
                        label(for='password') Password:
                        input#password.form-control(type='password', placeholder='Enter password', name='password')
                .modal-footer
                    button.btn.btn-default(style='float:left;', type='submit', data-dismiss='modal', data-target='#loginSubmitBtn') Log in
                    //span.psw
                    //    a(href='#', data-toggle='modal', data-target='#forgotPasswordModal', data-dismiss='modal') Forgot password?
    #signupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby="loginModal")
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    img(style='max-width:180px; margin:-5px; float:left;', src='/img/logo.png', alt='Give It Forward')
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .form-group
                        label(for='newFirstname') First name:
                        input#newFirstname.form-control(type='first name', placeholder='first name', name='first name')
                    .form-group
                        label(for='newLastname') Last name:
                        input#newLastname.form-control(type='last name', placeholder='last name', name='last name')
                    .form-group
                        label(for='newUsername') Username:
                        input#newUsername.form-control(type='username', placeholder='Enter username', name='username')
                    .form-group
                        label(for='newEmail') Email:
                        input#newEmail.form-control(type='email', placeholder='Enter email', name='email')
                    .form-group
                        label(for='newPassword') Password:
                        input#newPassword.form-control(type='password', placeholder='Enter password', name='password')
                    .form-group
                        label(for='newVerifyPassword') Confirm password:
                        input#newVerifyPassword.form-control(type='username', placeholder='Re-enter password', name='confirm password')
                    button.btn.btn-default(type='submit', data-dismiss='modal', data-target='#createAccountBtn') Sign up
    #homeStuff
        nav.navbar.navbar-default.navbar-static-top.navbar-md(style='margin:auto')
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='http://giveitforward.us')
                        img(style='margin:-5%;', src='/img/logo.png', alt='Give It Forward')
                ul.nav.navbar-nav(style='font-size: 1.4em;')
                    li
                        a(href='#us') Meet the Developers
                ul.nav.navbar-nav.navbar-right(style='font-size: 1.2em;')
                    li
                        a(href='#', data-toggle='modal', data-target='#signupModal')
                            span.glyphicon.glyphicon-user
                            |  Sign Up
                    li
                        a(href='#loginModal', data-toggle='modal', data-target='#loginModal')
                            span.glyphicon.glyphicon-log-in
                            |  Login
        .container.background.turquoise-angles(style='width:100%;')
            .row
                .col-md-12.text-center
                    h1 Everyday People Helping Everyday People
            .row
                .col-md-3
                .col-md-6
                    #myCarousel.carousel.slide(data-ride='carousel', style='width:100%;margin: 5% auto;margin-bottom:10%;')
                        // Indicators
                        ol.carousel-indicators
                            li.active(data-target='#myCarousel', data-slide-to='0')
                            li(data-target='#myCarousel', data-slide-to='1')
                            li(data-target='#myCarousel', data-slide-to='2')
                        // Wrapper for slides
                        .carousel-inner
                            .item.active
                                img(src='/img/landing/student.jpg', alt='Students', style='width:100%;')
                                .carousel-caption
                                    h3 Helping Sudents
                                    p other words
                            .item
                                img(src='/img/landing/parent.jpg', alt='Parents', style='width:100%;')
                                .carousel-caption
                                    h3 Helping Parents
                                    p words
                            .item
                                img(src='/img/landing/park.jpg', alt='People', style='width:100%;')
                                .carousel-caption
                                    h3 Helping People
                                    p words
                        // Left and right controls
                        a.left.carousel-control(href='#myCarousel', data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left
                            span.sr-only Previous
                        a.right.carousel-control(href='#myCarousel', data-slide='next')
                            span.glyphicon.glyphicon-chevron-right
                            span.sr-only Next
                .col-md-3
        .container(style='width:100%;')
            #more.row(style='margin: 5% auto;')
                .col-md-2
                .col-md-2
                    button.titlebutton.yellow
                        i.fas.fa-lightbulb.fa-10x(style='width:100%;padding:5%;')
                        | Website Tutorial
                .col-md-1
                .col-md-2
                    button.titlebutton.turquoise
                        i.fas.fa-angle-double-right.fa-10x(style='width:100%;padding:5%;')
                        | Join Our Cause
                .col-md-1
                .col-md-2
                    button.titlebutton.orange
                        i.fas.fa-hands-helping.fa-10x(style='width:100%;padding:5%;')
                        | Other Resources
                .col-md-2
        .container.background.weave(style='width:100%;')
            #us.row
                .col-md-1
                .col-md-11
                    h1 Meet the Developers.
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle(src='/img/sara.jpg', alt='Jen Simons', style='width:100%;')
                    .col-md-8
                        h4 Jen Simons
                        p Lectus dis vehicula hendrerit ridiculus nec luctus erat taciti orci hendrerit felis eu hac condimentum eros montes curabitur nam sapien. Donec posuere lacus, nulla nostra class ac fames libero accumsan magna viverra. Posuere sed luctus gravida ante dis elementum pretium gravida parturient inceptos penatibus curabitur, molestie. Nunc tempus, nascetur. Penatibus, tortor. Venenatis nullam commodo mattis turpis nibh sagittis gravida fames placerat ornare feugiat primis non. Mollis. Nulla libero et duis aliquam praesent amet montes etiam vulputate diam fusce. Dictumst consequat volutpat condimentum pretium ipsum lectus placerat nascetur sociis venenatis mattis vulputate etiam nonummy. Placerat suscipit odio auctor nonummy. Dui sapien.
                    .col-md-1
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle(src='/img/sara.jpg', alt='Boo Chalhoub', style='width:100%;')
                    .col-md-8
                        h4 Boo Chalhoub
                        p Lectus dis vehicula hendrerit ridiculus nec luctus erat taciti orci hendrerit felis eu hac condimentum eros montes curabitur nam sapien. Donec posuere lacus, nulla nostra class ac fames libero accumsan magna viverra. Posuere sed luctus gravida ante dis elementum pretium gravida parturient inceptos penatibus curabitur, molestie. Nunc tempus, nascetur. Penatibus, tortor. Venenatis nullam commodo mattis turpis nibh sagittis gravida fames placerat ornare feugiat primis non. Mollis. Nulla libero et duis aliquam praesent amet montes etiam vulputate diam fusce. Dictumst consequat volutpat condimentum pretium ipsum lectus placerat nascetur sociis venenatis mattis vulputate etiam nonummy. Placerat suscipit odio auctor nonummy. Dui sapien.
                    .col-md-1
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle(src='/img/sara.jpg', alt='Makenzie Elliott', style='width:100%;')
                    .col-md-8
                        h4 Makenzie Elliott
                        p Lectus dis vehicula hendrerit ridiculus nec luctus erat taciti orci hendrerit felis eu hac condimentum eros montes curabitur nam sapien. Donec posuere lacus, nulla nostra class ac fames libero accumsan magna viverra. Posuere sed luctus gravida ante dis elementum pretium gravida parturient inceptos penatibus curabitur, molestie. Nunc tempus, nascetur. Penatibus, tortor. Venenatis nullam commodo mattis turpis nibh sagittis gravida fames placerat ornare feugiat primis non. Mollis. Nulla libero et duis aliquam praesent amet montes etiam vulputate diam fusce. Dictumst consequat volutpat condimentum pretium ipsum lectus placerat nascetur sociis venenatis mattis vulputate etiam nonummy. Placerat suscipit odio auctor nonummy. Dui sapien.
                    .col-md-1
                .row(style='margin:5% auto;')
                    .col-md-1
                    .col-md-2
                        img.img-circle(src='/img/sara.jpg', alt='Sara Adamson', style='width:100%;')
                    .col-md-8
                        h4 Sara Adamson
                        p Lectus dis vehicula hendrerit ridiculus nec luctus erat taciti orci hendrerit felis eu hac condimentum eros montes curabitur nam sapien. Donec posuere lacus, nulla nostra class ac fames libero accumsan magna viverra. Posuere sed luctus gravida ante dis elementum pretium gravida parturient inceptos penatibus curabitur, molestie. Nunc tempus, nascetur. Penatibus, tortor. Venenatis nullam commodo mattis turpis nibh sagittis gravida fames placerat ornare feugiat primis non. Mollis. Nulla libero et duis aliquam praesent amet montes etiam vulputate diam fusce. Dictumst consequat volutpat condimentum pretium ipsum lectus placerat nascetur sociis venenatis mattis vulputate etiam nonummy. Placerat suscipit odio auctor nonummy. Dui sapien.
                    .col-md-1
        .footer
            p Footer information aboug giveitforward.us goes here.