extend layout

block content
    #svgAvatars(style={display: 'none'})
    // Forgot password Modal
    #forgotPasswordModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', aria-labelledby="forgotPasswordModal")
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    img.modal-title(src='/img/turquoise_shadow.png', height='30', width='30')
                    h5.modal-title Forgot Password
                    button.close(type='button', data-dismiss='modal', aria-label='Cancel')
                        span(aria-hidden='true') ×
                .modal-body
                    #forgotPasswordModalBody
                        form
                            .form-group
                                label Enter your email address and we'll send you a link to reset your password
                                incput#forgottenPasswordEmail.form-control(type='email', placeholder='enter email')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#sendEmailBtn.btn.btn-primary(type='button') Send email
    #homeStuff
        .container-fluid
            .row.turquoisebackground.landingbar
                .col-md-8
                    #inputdiv.logindiv.form-inline
                        input#username.roundmedium(type='text', name='username', placeholder='email')
                        input#password.roundmedium(type='password', placeholder='password')
                        button#loginSubmitBtn.btn.roundmediumbtn.loginbtn Log In
                        span
                            a(href='#', style='color: rgb(0, 148, 125)', data-toggle='modal', data-target='#forgotPasswordModal') Forgot password?
                        .loginerrordiv
                            label#loginErrorLabel(style=" color: red")
                        .fa-2x
                            i#loginSpinner(style="display: none").fas.fa-spinner.fa-spin
                 .col-md-4
                     input#googleIn(type='checkbox', style='display:none')
                     #googleSignin.g-signin2.padding-top(data-longtitle='true', data-onsuccess='onSignIn')
                     script.
                         function onSignIn(googleUser) {
                             // Useful data for your client-side scripts:
                             console.log('inline jade function');

                             var profile = googleUser.getBasicProfile();
                             console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                             console.log('Full Name: ' + profile.getName());
                             console.log('Given Name: ' + profile.getGivenName());
                             console.log('Family Name: ' + profile.getFamilyName());
                             console.log("Email: " + profile.getEmail());

                             // The ID token you need to pass to your backend:
                             var id_token = googleUser.getAuthResponse().id_token;
                             console.log("ID Token: " + id_token);

                             document.getElementById("googleIn").click();
                         };
            .row
                .col-md-12.confettibackground
                    .row
                        .col-md-6.text-center
                            .circlediv.text-center
                                .logodiv
                                    img.logo(src="/img/turquoise_shadow.png")
                                    #titleheading Give It Forward

                        .col-md-6
                            .absoluteCenter
                                #signupColumn
                                    .row.signupdiv
                                        .col-md-6
                                            input#newFirstname.roundhalf.grayshadow(type='text', placeholder='firstname')
                                        .col-md-6
                                            input#newLastname.roundhalf.grayshadow(type='text', placeholder='lastname')
                                    input#newUsername.round.grayshadow(type='text', placeholder='username')
                                    input#newEmail.round.grayshadow(type='text', placeholder='email')
                                    input#newPassword.round.grayshadow(type='password', placeholder='password')
                                    input#newVerifyPassword.round.grayshadow(type='password', placeholder='verify password')
                                    button#createAccountBtn.btn.round.turquoisebtn.grayshadow Create Account