doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Give It Forward

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')


        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='svgavatars/css/spectrum.css')
        link(rel='stylesheet', href='svgavatars/css/svgavatars.css')

        style(type='text/css').
            #googleSignin {
                background-color: inherit;
                color: #777;
                width: 90px;
                height: 50px;
                box-shadow: none;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-right: 15px;
                margin-left: 15px;
            }

            #googleSignin:hover {
                cursor: pointer;
                color: skyblue;
            }


        link(rel='shortcut icon', href='/ico/favicon.png?')

        script(type='text/javascript', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js')

        link(href='https://fonts.googleapis.com/css?family=Roboto', rel="stylesheet" type="text/css")
        script(src="https://apis.google.com/js/api:client.js")
        meta(name='google-signin-scope', content='profile email')
        //meta(name='google-signin-client_id', content='516734440147-59sb0ckq0i826f0s3bquv96v858v86m3.apps.googleusercontent.com')
        //script(src="https://apis.google.com/js/platform.js?onload=renderButton", async='', defer='')

        // Require Js CAUTION:: THIS LIBRARY MUST BE AFTER JQUERY! OR ELSE JQUERY WILL GET OVER WRITTEN!
        script(type='text/javascript', src='/js/require.js', data-main='/js/main.js')

        // Latest compiled JavaScript
        //script(type='text/javascript', src='/js/require.js', data-main='/js/main-optimized.min.js')
        block js
    body
        block content
