.container
    .btn-group
        a.input.leftroundbtn.winebtn#loginBtn(href='/index') Log In
        a.input.rightroundbtn.greybtn#signupBtn(href='/signup') Sign Up
    input#username.round(type='text', name='username', placeholder='username or email')
    input#password.round(type='password', placeholder='password')
    //- a.input.round.winebtn(href='http://womenscenter.utah.edu/') Log In
    //a.btn.round.winebtn.mainbtn(href='/request_feed') Log In