doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Give It Forward

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='svgavatars/css/spectrum.css')
        link(rel='stylesheet', href='svgavatars/css/svgavatars.css')

        link(rel='shortcut icon', href='/ico/favicon.png?')

        script(type='text/javascript', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js')

        meta(name='google-signin-scope', content='profile email')
        meta(name='google-signin-client_id', content='516734440147-59sb0ckq0i826f0s3bquv96v858v86m3.apps.googleusercontent.com')
        script(src='https://apis.google.com/js/platform.js', async='', defer='')

        // Require Js CAUTION:: THIS LIBRARY MUST BE AFTER JQUERY! OR ELSE JQUERY WILL GET OVER WRITTEN!
        script(type='text/javascript', src='/js/require.js', data-main='/js/resetPassword.js')

        script(type='text/javascript').
             var hashInfo = !{JSON.stringify(hashInfo)}

    body
        .container-fluid.background.weave(style='height:1000px;')
            .row
                .col-md-12.landingbar
            .row
                .col-md-12
                    .row
                        .col-md-4
                        .col-md-4.text-center
                            img.logo(src="/img/turquoise_shadow.png")
                            h1 Reset Your Password
                            input#newPasswordReset.round(type='password', placeholder='new password')
                            input#confirmNewPasswordReset.round(type='password', placeholder='confirm new password')
                            button#resetPasswordBtn.btn.round.horizontal-iconbox.turquoise.whitetext(data-hash= '') Reset Password
                        .col-md-4