extend layout

block content
    .container-fluid
        .row
            .col-md-12.turquoisebackground.landingbar
        .row
            .col-md-12
                .row
                    .col-md-3
                    .col-md-6.text-centers
                        img.logo(src="/img/turquoise_shadow.png")
                        #titleheading Reset Your Password
                        input#newPasswordReset.round.grayshadow(type='text', placeholder='new password')
                        input#confirmNewPasswordReset.round.grayshadow(type='text', placeholder='confirm new password')
                        button#resetPasswordBtn.btn.round.turquoisebtn.grayshadow(data-hash='{{ hash }}') Reset Password
                    .col-md-3