.leftcol a:link {
  color: white;
}

.leftcol a:visited {
  color: white;
}

a:hover {
  color: skyblue !important;
}

body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*a:active {
    color: white;
}*/

.whitetext {
  color: white !important;
}

.dimgreytext {
  color: dimgray;
}

#titleheading {
  font-size: 34pt;
  color:white;
}

.titleheading2 {
  font-size: 18pt;
  color:black;
  margin: 2%;
}

#requestfeed {
  height: 100%;
  width: 100%;
}

#newrequest {
  height: 100vh;
  width: 100%;
}

.logomini {
  width: 70px;
  height: 70px;
  margin: 5px;
}

#profilepicmini {
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 50px;
}

#note {
  width: 100%;
  margin: 0 2px 0 2px;
}

#note2 {
  width: 100%;
  margin: 0 2px 0 2px;
}

#notetext {
  margin: 20px 0 0 15%;
}

.btn {
  border-radius: 25px;
}

.round{
  border-radius: 25px;
  padding: 10px;
  width: 445px;
  margin: 10px;
}

.roundrequest{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 80%;
  height: 280px;
  margin: 2%;
  /*margin-top: 10px;*/
}

.roundthankyou{
  color: black;
  border: solid 1px dimgray;
  background-color: white;
  border-radius: 25px;
  padding: 2%;
  width: 60%;
  height: 200px;
  margin: 0 2% 2% 15%;
  /*margin-top: 10px;*/
}

.roundmediumbtn{
  border-radius: 25px;
  padding: 5px;
  width: 200px;
  margin: 5px;
}

.searchtagsbtn{
  border-radius: 25px;
  /*padding: 5%;*/
  width: 250px;
  margin: 3%;
}

.orderbybtn{
  border-radius: 25px;
  /*padding: 5%;*/
  width: 150px;
  margin-left: 15%;
}

.newrequestbtn {
  border-radius: 25px;
  padding: 2%;
  width: 50%;
  margin: 2%;
  color: white;
}

.roundsmallbtn{
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  margin: 5px;
}

/*.roundminibtn{*/
  /*border-radius: 25px;*/
  /*padding: 2%;*/
  /*!*width: 50px;*!*/
  /*margin-left: 6%;*/
/*}*/

.gobtn{
  border-radius: 25px;
  /*padding: 2%;*/
  width: 50px;
  margin-left: 6%;
}

.roundsmalltext{
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  margin: 5px;
}

.roundminitext{
  border-radius: 25px;
  padding: 1%;
  margin: 1%;
  width: 75px;
  /*margin: 5px;*/
}

.bio{
  height:100px;
  width:445px;
}

.checkmargin{
  margin: 10px;
}

.absoluteCenter{
  display:inline-block;
  position:absolute;
  text-align:center;
  top:50%;
  left:50%;
  /*-ms-transform:translate(-50%,-50%);*/
  /*-moz-transform:translate(-50%,-50%);*/
  /*-webkit-transform:translate(-50%,-50%);*/
  transform:translate(-50%,-50%);
}

.logo > .absoluteCenter{
  width:250;
  height:250;
}

/*img.profilepic > .absoluteCenter{
  width:50;
  height:50;
}*/

.leftroundbtn{
  border-radius: 25px 0 0 25px;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 200px;
}

.rightroundbtn{
  border-radius: 0 25px 25px 0;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 200px;
}

.navbtn{
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:0;
  padding-right:0;
  /*margin: 10px 0px 40px;*/
  width:100%;
  margin-left:0;
  margin-right:0;
  display:block;
  text-align:center;
}

.leftsmallroundbtn{
  border-radius: 25px 0 0 25px;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 100px;
}

.middlesmallroundbtn{
  border-radius: 0;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 100px;
}

.rightsmallroundbtn{
  border-radius: 0 25px 25px 0;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 100px;
}

.winebtn {
  background-color: #760709;
  color:white;
}

.greybtn{
  background-color: dimgrey;
  color:white;
}

.greybtncol{
  background-color: dimgrey;
  color:white;
  border-radius: 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.selected {
  color: white;
  background: #760709;
}

.mainbtn{
  margin-top: 40px;
}

.btn-group-padding {
  margin: 0;
}

.leftcol{
  color:white;
  /*padding-top: 150px;*/
  background-color: dimgrey;
  height: 100vh;
}

.middle-row{
  background-color: dimgrey;
  width: 100vw;
}

.bottom-row{
  /*padding-top: 150px;*/
  background-color: dimgrey;
  width: 100vw;
  height: 100vh;
}

.rightcol{
  color: black;
  background-color: white;
  height: 100vh;
  padding-top: 25px;
}

.top-row{
  color: black;
  background-color: white;
  /*height: 100vh;*/
  padding-top: 25px;
  padding-left: 5px;
}

.rightcol-signup > .absoluteCenter{
  color: black;
  background-color: white;
  height: 100vh;
  /*width: 70vh;*/
  padding-top: 25px;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}

.scroll{
  position: relative;
  /*height: calc(100vh - 100px);*/
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.border-bottom {
  border-bottom: 1px solid #404040;
}

.padding-top{
  padding-top: 10px;
}

.margin-top{
  margin-top: 15px;
}

.requestmargin{
  margin: 2%;
}

.requesting{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 30%;
}

.amount{
  font-weight: bold;
  font-size: 28px;
  margin: 2%;
}

.requestuserimage{
  width: 140%;
  height: 80%;
  margin-left: 20%;
}

.requestusername{
  font-weight: bold;
  font-size: 24px;
}

.requestimage {
  width: 70%;
  height: 70%;
  margin-left: 30%;
  margin-top: 5%;
}

.requestmessage{
  margin: 1%;
}

.tags{
  margin: 1%;
}

.checkmark{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.roundgivebtn{
  background-color: lightgrey;
  border-color: dimgrey;
  border-radius: 20px;
  padding: 10px;
  height: 70px;
  width: 80px;
  margin: 30%;
}

.editrequestbtn {
  border-radius: 25px;
  padding: 10px;
  /*height: 80%;*/
  width: 100%;
  margin-top: 50%;
}

.thankyoubtn {
  border-radius: 25px;
  padding: 7%;
  /*height: 60px;*/
  width: 100%;
  margin-top: 30%;
  margin-bottom: 30%;
}

.viewthankyoubtn {
  border-radius: 25px;
  padding: 7%;
  /*height: 50px;*/
  width: 100%;
  margin-top: 0;
}

.viewThankYouHeader {
  color: #760709;
  font-weight: bold;
  font-style: italic;
  font-size: 24pt;
  font-stretch: expanded;
  font-family: cursive;
  text-align: center;
}

.givebtnicon{
  width: 90%;
  height: 100%;
}

.homebtn{
  background-color: lightgrey;
  border-radius: 0;
  outline: none;
  /*padding: 10px;*/
  width: 100%;
}

.lightgreybackground{
  background-color: lightgrey;
}

.dimgreybackground{
  background-color: dimgrey;
}

.winebackground{
  background-color: #760709;
}

.orglogo {
  width: 100%;
  height: 80%;
  margin: 2%;
}

.orgname{
  font-weight: bold;
  font-size: 24px;
}

.orgmessage{
  margin: 2%;
}

.topborder {
  border-top: 1px solid lightgray;
  margin-top: 1%;
}

.btn-col {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  border-right: 1px solid lightgray;
  height: 100vh;
}

.no-padding {
  padding: 0;
}

.padding-left {
  padding-left: 3%;
}

.icon-mini {
  height: 25px;
  width: 25px;
  margin-right: 2%;
  margin-left: 6%;
}

.icon-margin {
  margin: 2%;
}

.bio {
  border-radius: 25px;
  margin-bottom: 1%;
  padding: 2%;
  height: 150px;
  width: 90%;
  vertical-align: top;
  text-align: left;
}

.requesttags {
  border-radius: 25px;
  /*margin: 1%;*/
  padding: 2%;
  width: 90%;
}

.open {
  color: #AD0000;
  font-weight: bold;
  font-size: 18pt;
  margin: 2%;
}

.fulfilled {
  color: green;
  font-weight: bold;
  font-size: 14pt;
  margin: 2%;
}

.totalDonationsMessage {
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.totalDonations {
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 20pt;
  text-weight: bold;
}

.notificationrow {
  border-bottom: 1px solid lightgray;
  padding: 3%;
}

.tag-select {
  width: 80%;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}


.choosetags {
  border-radius: 25px;
  padding: 2%;
  border: 2px solid dimgray;
  width: 445px;
  font-size: 14pt;
}

.searchtags {
  border-radius: 25px;
  padding: 2%;
  border: 2px solid dimgray;
  /*width: 445px;*/
  font-size: 14pt;
}

.imagebtn {
  border-radius: 25px;
  background-color: lightgrey;
  width: 60%;
  height: 80%;
}

.imageOnImageBtn {
  width: 100%;
  height: 100%;
}