.leftcol a:link {
  color: white;
}

.leftcol a:visited {
  color: white;
}

a:hover {
  color: skyblue !important;
}

/*hover over checkmark*/
span[data-title]:hover:after {
  content: attr(data-title);
  padding: 5px ;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  position: absolute;
}

body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*a:active {
    color: white;
}*/

.whitetext {
  color: white !important;
}

.purpletext {
  color: #5F3E5B;
}

.turquoisetext {
  color: #00947D;
}

.orangetext {
  color: #F7882F;
}

.dimgreytext {
  color: dimgray;
  /*color: #007F64;*/
}

#titleheading {
  font-size: 34pt;
  color:white;
  text-shadow: 4px 4px 4px #007F64;
}

.titleheading2 {
  font-size: 24pt;
  color:#00947D;
  font-family: cursive;
  font-weight: bold;
  text-shadow: 2px 2px 2px #002A26;
  margin: 2%;
}

#requestfeed {
  height: 100%;
  width: 100%;
}

#newrequest {
  height: 100vh;
  width: 100%;
}

.logomini {
  width: 70px;
  height: 70px;
  margin: 5px;
}

#profilepicmini {
  width: 50px;
  height: 50px;
  margin: 10px 5px 10px 50px;
}

#note {
  width: 100%;
  margin: 0 2px 0 2px;
}

#note2 {
  width: 100%;
  margin: 0 2px 0 2px;
}

#notetext {
  margin: 20px 0 0 15%;
}

.btn {
  border-radius: 25px;
}

.round{
  border-radius: 25px;
  padding: 10px;
  width: 445px;
  margin: 10px;
}

.roundrequest{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 80%;
  height: 300px;
  margin: 2%;
  /*box-shadow: 4px 4px 10px 4px #FFCE0C;*/
  box-shadow: 4px 4px 10px 4px #00947D;
  /*margin-top: 10px;*/
}

.myrequestpanel{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 95%;
  height: 375px;
  margin: 2%;
  /*box-shadow: 4px 4px 10px 4px #FFCE0C;*/
  box-shadow: 4px 4px 10px 4px #00947D;
}

.mydonationpanel{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 95%;
  height: 430px;
  margin: 2%;
  /*box-shadow: 4px 4px 10px 4px #FFCE0C;*/
  box-shadow: 4px 4px 10px 4px #00947D;
}

.otherroundrequest{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 100%;
  height: 375px;
  margin: 2%;
  box-shadow: 4px 4px 10px 4px #00947D;
  /*margin-top: 10px;*/
}

.roundthankyou{
  color: black;
  border: solid 1px dimgray;
  /*border: solid 1px #007F64;*/
  background-color: white;
  border-radius: 25px;
  padding: 2%;
  width: 60%;
  height: 200px;
  margin: 0 2% 2% 15%;
  /*margin-top: 10px;*/
}

.roundmediumbtn{
  border-radius: 25px;
  padding: 5px;
  width: 200px;
  margin: 5px;
}

.roundmedium{
  border-radius: 25px;
  padding: 5px;
  width: 175px;
  margin: 5px;
}

.searchtagsbtn{
  border-radius: 25px;
  /*padding: 5%;*/
  width: 250px;
  margin: 3%;
}

.orderbybtn{
  border-radius: 25px;
  /*padding: 5%;*/
  width: 150px;
  margin-left: 15%;
}

.changeimagebtn{
  border-radius: 25px;
  /*padding: 5%;*/
  width: 150px;
  margin-top: 20%;
}

.newrequestbtn {
  border-radius: 25px;
  padding: 2%;
  width: 50%;
  margin: 2%;
  color: white;
}

.roundsmallbtn{
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  margin: 5px;
}

/*.roundminibtn{*/
  /*border-radius: 25px;*/
  /*padding: 2%;*/
  /*!*width: 50px;*!*/
  /*margin-left: 6%;*/
/*}*/

.gobtn{
  border-radius: 25px;
  /*padding: 2%;*/
  width: 50px;
  margin-left: 6%;
}

.roundsmalltext{
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  margin: 5px;
}

.roundminitext{
  border-radius: 25px;
  padding: 1%;
  margin: 1%;
  width: 75px;
  /*margin: 5px;*/
}

.bio{
  height:100px;
  width:445px;
}

.checkmargin{
  margin: 10px;
}

.absoluteCenter{
  display:inline-block;
  position:absolute;
  text-align:center;
  top:50%;
  left:50%;
  /*-ms-transform:translate(-50%,-50%);*/
  /*-moz-transform:translate(-50%,-50%);*/
  /*-webkit-transform:translate(-50%,-50%);*/
  transform:translate(-50%,-50%);
}

.logo > .absoluteCenter{
  width:250;
  height:250;
}

/*img.profilepic > .absoluteCenter{
  width:50;
  height:50;
}*/

.leftroundbtn{
  border-radius: 25px 0 0 25px;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 200px;
}

.rightroundbtn{
  border-radius: 0 25px 25px 0;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 200px;
}

.navbtn{
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:0;
  padding-right:0;
  /*margin: 10px 0px 40px;*/
  width:100%;
  margin-left:0;
  margin-right:0;
  display:block;
  text-align:center;
}

.leftsmallroundbtn{
  border-radius: 25px 0 0 25px;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 100px;
}

.middlesmallroundbtn{
  border-radius: 0;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 100px;
}

.rightsmallroundbtn{
  border-radius: 0 25px 25px 0;
  padding: 10px;
  margin: 10px 0px 40px;
  width: 100px;
}

.winebtn {
  background-color: #760709; //wine
  color:white;
}

.turquoisebtn {
  background-color: #007F64;
  color:white;
}

.orangebtn {
  background-color: #F7882F;
  color:white;
  text-shadow: 2px 2px 2px #00947D;
}

.purplebtn {
  background-color: #5F3E5B;
  color:white;
}

.greybtn{
  background-color: dimgrey;
  color:white;
}

.greybtncol{
  background-color: dimgrey;
  color:white;
  border-radius: 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.turquoisebtncol{
  background-color: #00947D;
  color:white;
  text-shadow: 2px 2px 5px #002A26;
  font-size: 18pt;
  border-radius: 0;
  border-top: 1px solid #FBF9F7;
  border-bottom: 1px solid #FBF9F7;
  padding: 5%;
}

.selected {
  color: white;
  /*background: #760709;*/
  background: #007F64;
}

.mainbtn{
  margin-top: 40px;
}

.btn-group-padding {
  margin: 0;
}

.leftcol{
  color:white;
  /*padding-top: 150px;*/
  /*background-color: dimgrey;*/
  /*background-color: #daa520;*/
  background: linear-gradient(to right, #4d4d4d, #999999);
  /*background: linear-gradient(to top right, #F76F00, #FCD7B9);*/
  height: 100vh;
}

.topHomeBar{
  /*background: linear-gradient(#FFCE0C, #FBF9F7);*/
  /*width: 100vw;*/
}

.middle-row{
  /*background-color: dimgrey;*/
  background: linear-gradient(dimgray, lightgrey);
  /*background: linear-gradient(#00947D, #FBF9F7);*/
  /*background: linear-gradient(#840E8C, #FBF9F7);*/
  /*border-top: 2px solid #e37222;*/
  width: 100vw;
}

.myhistorymiddlerow{
  background: linear-gradient(dimgray, lightgrey);
  /*background: linear-gradient(#840E8C, #FBF9F7);*/
}

.bottom-row{
  /*padding-top: 150px;*/
  background-color: lightgrey;
  /*background-color: #FBF9F7;*/
  width: 100vw;
  height: 100vh;
}

.rightcol{
  color: black;
  background-color: white;
  height: 100vh;
  padding-top: 25px;
}

.top-row{
  color: black;
  background-color: white;
  /*height: 100vh;*/
  padding-top: 25px;
  padding-left: 5px;
}

.rightcol-signup > .absoluteCenter{
  color: black;
  background-color: white;
  height: 100vh;
  /*width: 70vh;*/
  padding-top: 25px;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}

.scroll{
  position: relative;
  /*height: calc(100vh - 100px);*/
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.border-bottom {
  border-bottom: 1px solid #404040;
}

.padding-top{
  padding-top: 10px;
}

.margin-top{
  margin-top: 15px;
}

.requestmargin{
  margin: 2%;
}

.requesting{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 30%;
}

.otherrequesting{
  font-weight: bold;
  font-size: 18px;
  /*margin-bottom: 0;*/
  /*margin-left: 30%;*/
}

.amount{
  font-weight: bold;
  font-size: 28px;
  margin: 2%;
}

.otheramount{
  font-weight: bold;
  font-size: 18px;
  margin: 1%;
}

.requestuserimage{
  width: 50px;
  height: 75px;
  margin-left: 10%;
}

.requestusername{
  font-weight: bold;
  font-size: 18pt;
  color: #0000EE !important; /*link blue*/
}

.myhistoryuserimage{
  width: 25px;
  height: 35px;
  /*margin-left: 10%;*/
}

.myhistoryusername{
  font-weight: bold;
  font-size: 14pt;
  color: #0000EE !important; /*link blue*/
}

.requestimage {
  width: 70%;
  height: 70%;
  margin-left: 30%;
  margin-top: 10%;
}

.otherrequestimage {
  width: 50px;
  height: 50px;
  /*margin: 2%;*/
}

.requestmessage{
  margin-top: 2%;
  font-size: 14pt;
}

.requestmessagediv{
  width: 100%;
  height: 120px;
  background-color: #ffe890;
  overflow-y: scroll;
  border-radius: 25px;
  padding:2%;
}

.tags{
  /*margin: 1%;*/
  font-size: 14pt;
}

.checkmark{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  /*margin-bottom: 2px;*/
}


.roundgivebtn{
  background-color: lightgrey;
  border-color: dimgrey;
  border-radius: 20px;
  padding: 10px;
  height: 70px;
  width: 80px;
  margin: 30%;
}

.otherroundgivebtn{
  background-color: lightgrey;
  border-color: dimgrey;
  border-radius: 20px;
  padding: 10px;
  height: 70px;
  width: 80px;
  margin: 3%;
}

.editrequestbtn {
  border-radius: 25px;
  padding: 5px;
  height: 40px;
  width: 70px;
  margin-top: 2%;
}

.thankyoubtn {
  border-radius: 25px;
  padding: 5px;
  height: 55px;
  width: 105px;
  margin-top: 1%;
}

.otherthankyoubtn {
  border-radius: 25px;
  /*padding: 7%;*/
  height: 60px;
  width: 110px;
  margin: 3%;
}

.viewthankyoubtn {
  border-radius: 25px;
  padding: 7%;
  height: 60px;
  width: 100%;
  margin-top: 0;
}

.viewThankYouLabel {
  color: #00947D;
  font-weight: bold;
  font-style: italic;
  font-size: 24pt;
  font-stretch: expanded;
  font-family: cursive;
  text-align: center;
}

.viewThankYouSig {
  color: #00947D;
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  font-stretch: expanded;
  font-family: cursive;
}

.givebtnicon{
  width: 90%;
  height: 100%;
}

.homebtn{
  /*background-color: lightgrey;*/
  /*background-color: #FFCE0C;*/
  background: linear-gradient(to bottom right, dimgrey, lightgrey);
  /*background: linear-gradient(to bottom right, #840E8C, #FBF9F7);*/
  border-radius: 0;
  outline: none;
  /*padding: 10px;*/
  width: 100%;
}

.lightgreybackground{
  background-color: lightgrey;
  /*background-color: #daa520;*/
}

.dimgreybackground{
  background-color: dimgrey;
}

.turqouisebackground{
  background-color: #00947D;
}


.winebackground{
  background-color: #760709;
}

.orglogo {
  width: 100%;
  height: 80%;
  margin: 2%;
}

.orgname{
  font-weight: bold;
  font-size: 24px;
}

.orgmessage{
  margin: 2%;
}

.topborder {
  border-top: 5px ridge #840E8C;
  margin-top: 1%;
  margin-left: 1%;
}

.btn-col {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  border-right: 1px solid lightgray;
  height: 100vh;
}

.no-padding {
  padding: 0;
}

.padding-left {
  padding-left: 3%;
}

.icon-mini {
  height: 25px;
  width: 25px;
  margin-right: 2%;
  margin-left: 10%;
}

.icon-margin {
  margin: 1%;
}

.bio {
  border-radius: 25px;
  margin-bottom: 1%;
  padding: 2%;
  height: 150px;
  width: 90%;
  vertical-align: top;
  text-align: left;
}

.requesttags {
  border-radius: 25px;
  /*margin: 1%;*/
  padding: 2%;
  width: 90%;
}

.open {
  color: #AD0000;
  font-weight: bold;
  font-size: 14pt;
}

.fulfilled {
  color: green;
  font-weight: bold;
  font-size: 14pt;
}

.totalDonationsMessage {
  /*color: white;*/
  color: #007F64;
  /*text-shadow: 2px 2px 2px #002A26;*/
  /*padding-top: 2%;*/
  /*padding-bottom: 2%;*/
}

.totalDonations {
  /*color: white;*/
  color: #00947D;
  text-shadow: 2px 2px 2px #002A26;
  /*padding-top: 2%;*/
  /*padding-bottom: 5%;*/
  font-size: 20pt;
  text-weight: bold;
}

.notificationrow {
  border-bottom: 1px solid lightgray;
  padding: 3%;
  margin: 3%;
}

.tag-select {
  width: 80%;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}


.choosetags {
  border-radius: 25px;
  padding: 2%;
  border: 2px solid dimgray;
  width: 445px;
  font-size: 14pt;
}

.searchtags {
  border-radius: 25px;
  padding: 2%;
  border: 2px solid dimgray;
  /*width: 445px;*/
  font-size: 14pt;
}

.imagebtn {
  border-radius: 25px;
  background-color: lightgrey;
  width: 60%;
  height: 80%;
}

.imageOnImageBtn {
  width: 100%;
  height: 100%;
}

.myProfileImage {
  width: 90px;
  height: 120px;
  /*margin: 5%;*/
}

.editProfileImage {
  width: 65px;
  height: 90px;
  margin: 1%;
}

.myProfileMargin {
  margin-top: 3%;
  margin-left: 5%;
}

.myTags {
  margin-top: 3%;
  margin-left: 10%;
}

.myProfileFont {
  font-size: 14pt;
}

.myProfileInfo {
  margin-left: 5%;
}

.myBio {
  height: 150px;
  overflow-y: scroll;
}

.myProfileDonateIcon {
  height: 35px;
  width: 35px;
  margin-right: 2%;
  margin-left: 10%;
}

.otherProfileImage {
  width: 60px;
  height: 90px;
  /*margin-left: 50%;*/
}

.otherProfileDescription {
  width: 150px;
  height: 150px;
}

.nav-tabs .nav-link.active {
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
  border-right: 1px solid dimgray;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  color: #007F64;
}

.nav-tabs .nav-link {
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
  border-right: 1px solid dimgray;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #007F64;
  color: white;
}

#otherProfileModal {
  overflow-y: scroll;
}

.notificationsPanel{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  /*width: 90%;*/
  height: 500px;
  margin-top: 10%;
  /*margin-left: 5%;*/
  box-shadow: 4px 4px 10px 4px #00947D;
}

.myHistoryPanel{
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 95%;
  height: 500px;
  margin-top: 5%;
  box-shadow: 4px 4px 10px 4px #00947D;
}

.errorLabel {
  color: red;
}