doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Give It Forward
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/bootstrap-select.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(rel='shortcut icon', href='/ico/favicon.png')
        script(type='text/javascript', src='/js/require.js', data-main='/js/main.js')
        //script(type='text/javascript', src='/js/require.js', data-main='/js/main-optimized.min.js')

        block js
    body
        .container-fluid
            .row
                .col-md-6.leftcol
                    .absoluteCenter
                        //img.logo(src="/img/maroon_highlight.png")
                        img.logo(src="/img/turquoise_shadow.png")
                        #titleheading Give It Forward
                        a(href="/contactUs")
                            | contact us&nbsp;
                        | |
                        a(href="/aboutUs")
                            |  about us&nbsp;
                        | |
                        a(href="/moreHelp")
                            |  more help
                        //- .footer
                        //-   hr
                        //-   p © GiveItForward 2017
                .col-md-6.rightcol
                    .absoluteCenter
                        block content
