//doctype html
//html(lang='en')
//    head
//        meta(charset='utf-8')
//        title Give It Forward
//        link(href='/css/bootstrap.min.css', rel='stylesheet')
//        link(href='/css/bootstrap-select.min.css', rel='stylesheet')
//        link(href='/css/style.css', rel='stylesheet')
//        link(rel='shortcut icon', href='/ico/favicon.png')
//        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
//        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js')
//        script(type='text/javascript', src='/lib/bootstrap.min.js')
//        script(type='text/javascript', src='/lib/bootbox.min.js')
//    body
//        .container-fluid
//            .row
//                .col-md-1
//                    .btn-group-vertical
//                        a.btn.homebtn(href='/requestFeed')
//                            img#logomini(src='/img/maroon_shadow.png')
//                        a#homeBtn.greybtn.btn.selected(href='#') Home
//                        a#orgsBtn.greybtn.btn.btn-secondary(href='#') Orgs
//                        a#notesBtn.greybtn.btn.btn-secondary(href='#') Notes
//                        a#myProfileBtn.greybtn.btn(href='#') My Profile
//                .col-md-11
//                    #titleheading2 Welcome, CS_Nerd
//                    #homeContainer.container-fluid
//                        block content