//extend layout2
//block content
//    //.row
//    //    .col-sm-1.greybackground
//    //        a.btn.homebtn(href='/requestFeed')
//    //            img#logomini(src='/img/maroon_shadow.png')
//    //    .col-sm-6
//    //        #titleheading2 Welcome, CS_Nerd
//    //    .col-sm-5.padding-top
//    //        a.leftsmallroundbtn.btn.greybtn(href='/requestFeed') Home
//    //        a.middlesmallroundbtn.btn.winebtn.btn-secondary(href='/orgs') Orgs
//    //        a.middlesmallroundbtn.btn.greybtn.btn-secondary(href='/orgs') Notes
//    //        a.rightsmallroundbtn.btn.greybtn(href='/myProfile') My Profile
//    .row.bottom-row.padding-top
//        .col-sm-9
//            .form-inline
//                input.round(type='text', placeholder='search for orgs')
//                a.btn.roundminibtn.winebtn(href='/requestFeed') go
//        .col-sm-3
//    .row
//        .col-md-12
//            img#requestfeed(src='/img/orgs.png')
