//extend layout
//block content
//    script.
//        console.log("hey there from signup.jade");
//    .btn-group
//        a.input.leftroundbtn.greybtn#loginBtn(href='/index') Log In
//        a.input.rightroundbtn.winebtn#signupBtn(href='/signup') Sign Up
//    input.round(type='text', placeholder='username')
//    input.round(type='text', placeholder='email')
//    input.round(type='password', placeholder='password')
//    input.round(type='password', placeholder='verify password')
//    | Are you an organization? &nbsp
//    input(type='checkbox')
//    |  yes &nbsp
//    input(type='checkbox', checked=true)
//    |  no
//    a.btn.round.winebtn.mainbtn#createAccountSubmitBtn(href='/editProfile') Create Account
//
//include ../public/js/entry/landingEntryPoint.js