<div>
    <!--<form>-->
        <input id="username" class="round" type="text" placeholder="username or email">
        <input id="password" class="round" type="password" placeholder="password">
        <button id="loginSubmitBtn" class="btn round winebtn mainbtn">Log In</button>
        <!--<input id="loginSubmitBtn" class="round winebtn mainbtn" type="submit" value="Log In">-->
        <!--<input class="round winebtn" type="submit" value="Log In" formaction="requestFeed.html"><br><br>-->
        <!--a.btn.round.winebtn.mainbtn#loginSubmitBtn(href='/requestFeed') Log In-->
    <!--</form>-->
</div>