<div class="row">
    <div class="col-md-2">
        <img id="requestfeed" src="/img/smiley.png" style="height:100%; width:100%;"/>
    </div>
    <div class="col-md-10">
        <button class="roundmediumbtn winebtn">edit my profile</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <b>my email:</b>
    </div>
    <div class="col-md-8" id="myEmail">
    </div>
    <div class="col-md-2">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <b>my tags:</b>
    </div>
    <div class="col-md-8" id="myTags">
        <!--<b>#singleparent &nbsp #student</b>-->
    </div>
    <div class="col-md-2">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <b>my bio:</b>
    </div>
    <div class="col-md-8" id="myBio">
        <!--The awesome daddy of our family passed away of liver cancer the summer of 2016. Our little family of three is just trying to survive right now while I put myself through school to make more money. My babies are 5 and 8.-->
    </div>
    <div class="col-md-2">
    </div>
</div>