<div class="row middle-row padding-top">
    <div class="col-sm-9">
        <div class="form-inline">
            <input class="round" type="text" placeholder="search for orgs"/><a class="btn roundminibtn winebtn" href="#">go</a>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row bottom-row">
    <div class="col-md-12 scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="panel roundrequest">
                    <div class="form-inline">
                        <div class="container">
                            <div class="requestmargin">
                                <div class="col-md-12"><center><a class="requestusername" target="_blank" href="https://womenscenter.utah.edu/">Women's Resource Center</a></center>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img class="orglogo" src="/img/u_logo.png">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="requestmessage panel-body">The Women’s Resource Center (WRC) at the University of Utah serves as the central resource for educational and support services for women.  Honoring the complexities of women’s identities, the WRC facilitates choices and changes through programs, counseling, and training grounded in a commitment to advance social justice and equality.</div>
                                        <div class="row topborder">
                                            <div class="col-md-4"><a target="_blank" href="https://womenscenter.utah.edu/">https://womenscenter.utah.edu/</a></div>
                                            <div class="col-md-3">801-581-8030</div>
                                            <div class="col-md-5">
                                                <p>A. Ray Olpin Union 200 S. Central Campus Dr, Room 411
                                                    Salt Lake City, UT 84112</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel roundrequest">
                    <div class="form-inline">
                        <div class="container">
                            <div class="requestmargin">
                                <div class="row">
                                    <div class="col-md-12"><center><a class="requestusername" target="_blank" href="https://veteranscenter.utah.edu/">Veteran's Support Center</a></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="/img/u_vet_logo.gif">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="requestmessage">Our mission is to improve and enhance the individual and academic success of veterans, service members, and their family members who attend the university; to help them receive the benefits they earned; and to serve as a liaison between the student veteran community and the university.</div>
                                        <div class="row topborder">
                                            <div class="col-md-4"><a target="_blank" href="https://veteranscenter.utah.edu/">https://veteranscenter.utah.edu/</a></div>
                                            <div class="col-md-3">801-587-7722</div>
                                            <div class="col-md-5">
                                                <p>Veterans Support Center
                                                    200 S. Central Campus Drive
                                                    Union Building Room 418
                                                    Salt Lake City, UT 84112
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel roundrequest">
                    <div class="form-inline">
                        <div class="container">
                            <div class="requestmargin">
                                <div class="col-md-12"><center><a class="requestusername" target="_blank" href="https://womenscenter.utah.edu/">Women's Resource Center</a></center>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img class="orglogo" src="/img/u_logo.png">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="requestmessage panel-body">The Women’s Resource Center (WRC) at the University of Utah serves as the central resource for educational and support services for women.  Honoring the complexities of women’s identities, the WRC facilitates choices and changes through programs, counseling, and training grounded in a commitment to advance social justice and equality.</div>
                                        <div class="row topborder">
                                            <div class="col-md-4"><a target="_blank" href="https://womenscenter.utah.edu/">https://womenscenter.utah.edu/</a></div>
                                            <div class="col-md-3">801-581-8030</div>
                                            <div class="col-md-5">
                                                <p>A. Ray Olpin Union 200 S. Central Campus Dr, Room 411
                                                    Salt Lake City, UT 84112</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel roundrequest">
                    <div class="form-inline">
                        <div class="container">
                            <div class="requestmargin">
                                <div class="row">
                                    <div class="col-md-12"><center><a class="requestusername" target="_blank" href="https://veteranscenter.utah.edu/">Veteran's Support Center</a></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="/img/u_vet_logo.gif">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="requestmessage">Our mission is to improve and enhance the individual and academic success of veterans, service members, and their family members who attend the university; to help them receive the benefits they earned; and to serve as a liaison between the student veteran community and the university.</div>
                                        <div class="row topborder">
                                            <div class="col-md-4"><a target="_blank" href="https://veteranscenter.utah.edu/">https://veteranscenter.utah.edu/</a></div>
                                            <div class="col-md-3">801-587-7722</div>
                                            <div class="col-md-5">
                                                <p>Veterans Support Center
                                                    200 S. Central Campus Drive
                                                    Union Building Room 418
                                                    Salt Lake City, UT 84112
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="col-md-12"><img id="requestfeed" src="/img/orgs.png"/></div>-->