<div class="row bottom-row padding-top">
    <div class="col-sm-7">
        <div class="form-inline">
            <input class="round" id="searchForTags" type="text" placeholder="search for tags"><a class="btn roundminibtn winebtn" href="#">go</a>
        </div>
    </div>
    <div class="col-sm-5"><a class="newrequestbtn btn winebtn" href="#">+ new request</a></div>
</div>
<div class="row bottom-row">
    <div class="col-md-12 scroll">
        <div class="row">
            <div class="col-md-12">
                <div class="panel roundrequest">
                    <div class="form-inline">
                        <div class="container">
                            <div class="requestmargin">
                                <div class="row">
                                    <div class="col-md-1"><img class="requestuser" src="/img/anonUser.png"></div>
                                    <div class="col-md-8"><a class="requestusername" href="#">@singleMama</a>
                                        <div class="form-inline tags">#singleParent<img class="checkmark" src="/img/marooncheckmark.png" title="Verified By UofU Women's Resource Center">#UofUStudent<img class="checkmark" src="/img/marooncheckmark.png" title="Verified By UofU Women's Resource Center">#threeKids</div>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong>Requesting:</strong><em class="amount">$40</em><br>&nbsp&nbsp Jan, 19 2018</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><img class="requestimage" src="/img/rent.jpeg"></div>
                                    <div class="col-md-8">
                                        <div class="requestmessage">My oldest got sick and I had to miss a few days of work last week. Now I'm needing help to pay the rent for next month. Please help!</div>
                                    </div>
                                    <div class="col-md-2"><a class="roundgivebtn btn" href="#"><img class="givebtnicon" src="/img/maroon_shadow.png"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel roundrequest">
                    <div class="form-inline">
                        <div class="container">
                            <div class="requestmargin">
                                <div class="row">
                                    <div class="col-md-1"><img class="requestuser" src="/img/anonUser.png"></div>
                                    <div class="col-md-8"><a class="requestusername" href="#">@singleMama</a>
                                        <div class="form-inline tags">#singleParent<img class="checkmark" src="/img/marooncheckmark.png" title="Verified By UofU Women's Resource Center">#UofUStudent<img class="checkmark" src="/img/marooncheckmark.png" title="Verified By UofU Women's Resource Center">#threeKids</div>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong>Requesting:</strong><em class="amount">$20</em><br>&nbsp&nbsp Dec, 28 2017</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><img class="requestimage" src="/img/oldshoes.jpg"></div>
                                    <div class="col-md-8">
                                        <div class="requestmessage">My oldest got sick and I had to miss a few days of work last week. Now I'm needing help to pay the rent for next month. Please help!</div>
                                    </div>
                                    <div class="col-md-2"><a class="roundgivebtn btn" href="#"><img class="givebtnicon" src="/img/maroon_shadow.png"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>