<div class="modal fade" id="changePasswordModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitChangePasswordModal" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon0">Old Password</span>
                            <input id="oldPassword" type="password" class="form-control" placeholder="" aria-describedby="basic-addon0">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon0.5">New Password</span>
                            <input id="changePassword" type="password" class="form-control" placeholder="" aria-describedby="basic-addon0.5">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Verify New Password</span>
                            <input id='verifyChangePassword' type="password" class="form-control" placeholder="" aria-describedby="basic-addon1">
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center">
                <label id="changePasswordErrorLabel" class="errorLabel"></label>
            </div>
            <div class="modal-footer">
                <button id="cancelChangePasswordBtn" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="updatePasswordBtn" class="btn btn-primary">Update Password</button>
            </div>
        </div>
    </div>
</div>