<div class="modal fade" id="chooseUserImageModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profile Image</h4>
            </div>
            <div class="modal-body">
                <label>Choose an image for your profile:</label><br>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button class="btn imagebtn"><img class="imageOnImageBtn" src="/img/default_profile_pic.png"></button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn imagebtn"><img class="imageOnImageBtn" src="/img/default_profile_pic.png"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button class="btn imagebtn"><img class="imageOnImageBtn" src="/img/default_profile_pic.png"></button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn imagebtn"><img class="imageOnImageBtn" src="/img/default_profile_pic.png"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button class="btn imagebtn"><img class="imageOnImageBtn" src="/img/default_profile_pic.png"></button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn imagebtn"><img class="imageOnImageBtn" src="/img/default_profile_pic.png"></button>
                    </div>
                </div>
            <div class="modal-footer">
                <button id="cancelBtn" class="btn greybtn" data-dismiss="modal">Cancel</button>
                <button id="createRequestBtn" class="btn winebtn">Choose</button>
            </div>
        </div>
    </div>
</div>