<div class="modal fade" id="chooseUserImageModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitChooseUserImageBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profile Image</h4>
            </div>
            <div class="modal-body">
                <label>Choose an image for your profile:</label>
                <br>
                <div id="imageBtnGroup">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/purple_default.png">
                                <img class="imageOnImageBtn" src="/img/profile/purple_default.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/purple_glasses.png">
                                <img class="imageOnImageBtn" src="/img/profile/purple_glasses.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/purple_longhair.png">
                                <img class="imageOnImageBtn" src="/img/profile/purple_longhair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/purple_pigtails.png">
                                <img class="imageOnImageBtn" src="/img/profile/purple_pigtails.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/purple_shorthair.png">
                                <img class="imageOnImageBtn" src="/img/profile/purple_shorthair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/purple_hat.png">
                                <img class="imageOnImageBtn" src="/img/profile/purple_hat.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/yellow_default.png">
                                <img class="imageOnImageBtn" src="/img/profile/yellow_default.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/yellow_glasses.png">
                                <img class="imageOnImageBtn" src="/img/profile/yellow_glasses.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/yellow_longhair.png">
                                <img class="imageOnImageBtn" src="/img/profile/yellow_longhair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/yellow_pigtails.png">
                                <img class="imageOnImageBtn" src="/img/profile/yellow_pigtails.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/yellow_shorthair.png">
                                <img class="imageOnImageBtn" src="/img/profile/yellow_shorthair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/yellow_hat.png">
                                <img class="imageOnImageBtn" src="/img/profile/yellow_hat.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/wine_default.png">
                                <img class="imageOnImageBtn" src="/img/profile/wine_default.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/wine_glasses.png">
                                <img class="imageOnImageBtn" src="/img/profile/wine_glasses.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/wine_longhair.png">
                                <img class="imageOnImageBtn" src="/img/profile/wine_longhair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/wine_pigtails.png">
                                <img class="imageOnImageBtn" src="/img/profile/wine_pigtails.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/wine_shorthair.png">
                                <img class="imageOnImageBtn" src="/img/profile/wine_shorthair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/wine_hat.png">
                                <img class="imageOnImageBtn" src="/img/profile/wine_hat.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/dark_turq_default.png">
                                <img class="imageOnImageBtn" src="/img/profile/dark_turq_default.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/dark_turq_glasses.png">
                                <img class="imageOnImageBtn" src="/img/profile/dark_turq_glasses.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/dark_turq_longhair.png">
                                <img class="imageOnImageBtn" src="/img/profile/dark_turq_longhair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/dark_turq_pigtails.png">
                                <img class="imageOnImageBtn" src="/img/profile/dark_turq_pigtails.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/dark_turq_shorthair.png">
                                <img class="imageOnImageBtn" src="/img/profile/dark_turq_shorthair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/dark_turq_hat.png">
                                <img class="imageOnImageBtn" src="/img/profile/dark_turq_hat.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/light_turq_default.png">
                                <img class="imageOnImageBtn" src="/img/profile/light_turq_default.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/light_turq_glasses.png">
                                <img class="imageOnImageBtn" src="/img/profile/light_turq_glasses.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/light_turq_longhair.png">
                                <img class="imageOnImageBtn" src="/img/profile/light_turq_longhair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/light_turq_pigtails.png">
                                <img class="imageOnImageBtn" src="/img/profile/light_turq_pigtails.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/light_turq_shorthair.png">
                                <img class="imageOnImageBtn" src="/img/profile/light_turq_shorthair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/light_turq_hat.png">
                                <img class="imageOnImageBtn" src="/img/profile/light_turq_hat.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/grey_default.png">
                                <img class="imageOnImageBtn" src="/img/profile/grey_default.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/grey_glasses.png">
                                <img class="imageOnImageBtn" src="/img/profile/grey_glasses.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/grey_longhair.png">
                                <img class="imageOnImageBtn" src="/img/profile/grey_longhair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/grey_pigtails.png">
                                <img class="imageOnImageBtn" src="/img/profile/grey_pigtails.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/profile/grey_shorthair.png">
                                <img class="imageOnImageBtn" src="/img/profile/grey_shorthair.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/profile/grey_hat.png">
                                <img class="imageOnImageBtn" src="/img/profile/grey_hat.png">
                            </button>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button id="cancelChooseUserImageBtn" class="btn greybtn" data-dismiss="modal">Cancel</button>
                <button id="chooseUserImageBtn" class="btn turquoisebtn" data-dismiss="modal">Choose</button>
            </div>
        </div>
    </div>
</div>