<div class="modal fade" id="chooseOrgImageModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitChooseOrgImageBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Org Image</h4>
            </div>
            <div class="modal-body">
                <label>Choose an image for your organization profile:</label>
                <br>
                <div id="imageBtnGroup">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/org/wrc_yellow.png">
                                <img class="imageOnImageBtn" src="/img/org/wrc_yellow.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/org/lgbtrc.png">
                                <img class="imageOnImageBtn" src="/img/org/lgbtrc.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/org/student_purple.png">
                                <img class="imageOnImageBtn" src="/img/org/student_purple.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/org/vet_yellow.png">
                                <img class="imageOnImageBtn" src="/img/org/vet_yellow.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn imagebtn" data-image="/img/org/international_turq.png">
                                <img class="imageOnImageBtn" src="/img/org/international_turq.png">
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn imagebtn" data-image="/img/org/handicap_purple.png">
                                <img class="imageOnImageBtn" src="/img/org/handicap_purple.png">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancelChooseOrgImageBtn" class="btn greybtn" data-dismiss="modal">Cancel</button>
                    <button id="chooseOrgImageBtn" class="btn turquoisebtn" data-dismiss="modal">Choose</button>
                </div>
            </div>
        </div>
    </div>