<div class="modal fade" id="createAvatarModal" role="dialog">
    <div class="modal-dialog modal-lg avatar-modal">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitCreateAvatar" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create an Avatar</h4>
            </div>
            <div class="modal-body">
                <div id="avatarPlaceHolder"></div>
            </div>
            <div class="modal-footer">
                <button id="closeCreateAvatarBtn" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>