<div class="modal fade" id="newRequestModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitNewRequestModal" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Request</h4>
            </div>
            <div class="modal-body">
                <label>Describe the reason for your request:</label><br>
                <textarea id="newRequestDescription" class="bio" rows="4" cols="60"></textarea>
                <label>Enter the dollar amount you are requesting: <b>$</b></label>
                <input id="newRequestAmount" class="roundminitext" type="text">
                <label id="requestAmountErrorLabel" style="color: red"></label>
                <div class="button-group dropup">
                    <button class="btn round greybtn dropdown-toggle" type="button" data-toggle="dropdown">choose tags<span class="caret"></span></button>
                    <ul class="dropdown-menu choosetags">
                        <form id="newRequestTags">
                            <input type="radio" name="gender" value="male" checked> Male<br>
                            <input type="radio" name="gender" value="female"> Female<br>
                            <input type="radio" name="gender" value="other"> Other
                        </form>
                    </ul>
                </div>
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img id="newRequestImage" src="/img/other_help_icon.png" style="height:80%; width:80%;">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <label id="requestErrorLabel" style="color: red"></label>
                <button id="cancelNewRequestBtn" class="btn greybtn" data-dismiss="modal">Cancel</button>
                <button id="createRequestBtn" class="btn winebtn">Create Request</button>
            </div>
        </div>
    </div>
</div>