<div class="modal fade" id="otherProfileModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content off-white">
            <div class="modal-header">
                <!--Header information-->
                <button id="exitOtherProfileModal" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <span>
                            <div class="requestuserimage">
                                <img id="otherProfileImage" class="requestuserimage" src="/img/profile/grey_default.png">
                            </div>
                            <h4 id="otherProfileModalTitle" class="modal-title">View Profile</h4>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div id="otherProfileTags" class="blacktext"></div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="otherProfileBioDiv white text-center">
                                    <div id="otherProfileBio"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div id="exTab2" class="row">
                            <ul class="nav nav-tabs justify-content-center">
                                <li class="nav-item active">
                                    <a class="nav-link active" href="#otherRequestTab" data-toggle="tab">Request History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#otherDonateTab" data-toggle="tab">Donation History</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="otherRequestTab">
                                    <br>
                                    <!--<h4>This is some request history for this user that isn't you.</h4>-->
                                    <div id="otherRequestHistory">There is no request history available.</div>
                                </div>
                                <div class="tab-pane" id="otherDonateTab">
                                    <br>
                                    <!--<h4>This is some donation history for this user that isn't you.</h4>-->
                                    <div id="otherDonationHistory">There is no donation history available.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeOtherProfileBtn" class="horizontal-iconbox turquoise whitetext" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>