<div class="modal fade" id="sayThankYouModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitCreateThankYouBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thank You Note</h4>
            </div>
            <div class="modal-body">
                <label id="sayThankYouLabel">Write your Thank You message here:</label><br>
                <textarea id="thankYouMessage" class="bio" rows="4" cols="60"></textarea>
            </div>
            <div class="modal-footer">
                <label id="thankYouErrorLabel" style="color: red"></label>
                <button id="cancelCreateThankYouBtn" class="btn greybtn" data-dismiss="modal">Cancel</button>
                <button id="createThankYouBtn" class="btn turquoisebtn">Create Thank You</button>
            </div>
        </div>
    </div>
</div>
