<div class="modal fade" id="viewThankYouModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dimgreytext">
                <button id="exitViewThankYouModalBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="viewThankYouHeader" class="modal-title"></h4>
            </div>
            <div class="modal-body text-center">
                <label id="viewThankYouLabel" class="viewThankYouLabel">~ Thank You ~</label><br>
                <div id="viewThankYouMessage"></div>
                <br>
                <div id="viewThankYouSig" class="viewThankYouSig"></div>
            </div>
            <div class="modal-footer">
                <button id="closeViewThankYouModalBtn" class="btn greybtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
