#newRequestModal.modal.fade(role='dialog')
    .modal-dialog.modal-md
        .modal-content
            .modal-header.dimgreytext
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title New Request
            .modal-body
                label Describe the reason for your request:
                br
                textarea#requestDescription.bio(rows='4', cols='60')
                label
                    | Enter the dollar amount you are requesting:
                    b $
                input#requestAmount.roundminitext(type='text')
                // <div class="dropdown">
                // <button class="round greybtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                // Select Tags for this Request
                // </button>
                // <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" multiple>
                // <a class="dropdown-item" href="#">#rent</a>
                // <a class="dropdown-item" href="#">#bills</a>
                // <a class="dropdown-item" href="#">#forAChild</a>
                // <a class="dropdown-item" href="#">#clothing</a>
                // <a class="dropdown-item" href="#">#groceries</a>
                // <a class="dropdown-item" href="#">#schoolRelated</a>
                // <a class="dropdown-item" href="#">#other</a>
                // </div>
                // </div>
                label Choose up to two tags for your request:
                br
                select#requestTags.selectpicker.requesttags(multiple='', data-max-options='2', title='Choose two of the following...')
                    option #bills
                    option #clothing
                    option #forAChild
                    option #groceries
                    option #rent
                    option #schoolRelated
                    option(selected='') #other
                .row
                    .col-md-6
                        img(src='/img/rent.jpeg', style='height:100%; width:100%;')
                    .col-md-6
                        input#fileChooser(type='file', style='display: none')
                        input#uploadImage.roundmediumbtn.winebtn.mainbtn(type='submit', value='upload image')
                        br
                        input#chooseImage.roundmediumbtn.winebtn(type='submit', value='choose image')
                        br
            .modal-footer
                button#cancelBtn.btn.greybtn(data-dismiss='modal') Cancel
                button#createRequestBtn.btn.winebtn Create Request
// <div id="newRequestModal" class="modal fade" role="dialog">
// <div class="modal-header">
// <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
// <h3 id="myModalLabel">Modal header</h3>
// </div>
// <div class="modal-body">
// <p>One fine body…</p>
// </div>
// <div class="modal-footer">
// <button class="btn greybtn" data-dismiss="modal">Close</button>
// <button class="btn winebtn">Save changes</button>
// </div>
// </div>
