.container-fluid
    .row
        .col-md-2.btn-group-vertical.btn-col.turquoisebackground
            a.btn.homebtn(href='#')
                //img#logoMini.logomini(src='/img/maroon_shadow.png')
                img#logoMini.logomini(src='/img/turquoise_shadow.png')
            a#homeBtn.turquoisebtncol.btn.selected(href='#') Home
            a#orgsBtn.turquoisebtncol.btn(href='#') Orgs
            a#myProfileBtn.turquoisebtncol.btn(href='#') My Profile
            a#usersBtn
            a#adminBtn
            a#logoutBtn.turquoisebtncol.btn(href='#') Log Out
        #mainHomeContainer.col-md-10.container-fluid.no-padding
