.container-fluid
    .row
        //.col-md-2.btn-group-vertical.btn-col.turquoisebackground
        //    a.btn.homebtn(href='#')
        //        .homecirclediv
        //            img#logoMini.logomini(src='/img/turquoise_shadow.png')
        a#homeBtn.btn.selected(href='#') Requests
        a#orgsBtn.btn(href='#') Orgs
        a#myProfileBtn.btn(href='#') My Profile
        a#myOrgProfileBtn
        a#usersBtn
        a#logoutBtn.btn(href='#') Log Out
        #mainHomeContainer
