.container-fluid
    .row
        .col-md-2.btn-group-vertical.btn-col.dimgreybackground
            a.btn.homebtn.lightgreybackground(href='#')
                img#logoMini.logomini(src='/img/maroon_shadow.png')
            a#homeBtn.greybtncol.btn.selected(href='#') Home
            a#orgsBtn.greybtncol.btn(href='#') Orgs
            //a#notesBtn.greybtncol.btn(href='#', data-toggle='popover', data-trigger='focus', data-content='Some content inside the popover, more content, more content, more content') Notifications
            a#notesBtn.greybtncol.btn.whitetext(data-toggle='modal', data-target='#notificationsModal', data-backdrop='static') Notifications
            a#myProfileBtn.greybtncol.btn(href='#') My Profile
            a#myRequestsBtn.greybtncol.btn(href='#') My Requests
            a#myDonationsBtn.greybtncol.btn(href='#') My Donations
            a#logoutBtn.greybtncol.btn(href='#') Log Out
        .col-md-10.no-padding
            .row
                #usernameDisplay.col-md-9.titleheading2
                .col-md-2.icon-margin.form-inline
                    img.icon-mini(src='/img/donate_icon.png')
                    #donateCount
                    img.icon-mini(src='/img/gift_icon.png')
                    #receiveCount
            #homeContainer.container-fluid
