.container-fluid
    .row
        .col-md-2.btn-group-vertical.btn-col.dimgreybackground
            a.btn.homebtn.lightgreybackground(href='#')
                img#logoMini(src='/img/maroon_shadow.png')
            a#homeBtn.greybtncol.btn.selected(href='#') Home
            a#orgsBtn.greybtncol.btn(href='#') Orgs
            a#notesBtn.greybtncol.btn(href='#', data-toggle='popover', data-trigger='focus', data-content='Some content inside the popover, more content, more content, more content') Notifications
            a#myProfileBtn.greybtncol.btn(href='#') My Profile
            a#myRequestsBtn.greybtncol.btn(href='#') My Requests
            a#myDonationsBtn.greybtncol.btn(href='#') My Donations
            a#logoutBtn.greybtncol.btn(href='#') Log Out
        .col-md-10.no-padding
            .row
                #usernameDisplay.col-md-8.titleheading2
                .col-md-3.icon-margin.form-inline
                    img.icon-mini(src='/img/maroon_shadow.png')
                    #numDonations
                    img.icon-mini(src='/img/maroon_daisy.png')
                    #numFulfilledRequests
            #homeContainer.container-fluid
