//div
//    input#username.round(type='text', placeholder='username or email')
//    input#password.round(type='password', placeholder='password')
//    label#loginErrorLabel(style=" color: red")
//    button#loginSubmitBtn.btn.round.turquoisebtn.mainbtn Log In
//    i#loginSpinner(tabindex="-1").fa.fa-spinner.fa-spin.fa-5x.text-center