.row.middle-row.padding-top
    .col-sm-7
        .form-inline
            input#searchForTags.round(type='text', placeholder='search for tags')
            a.btn.roundminibtn.winebtn(href='#') go
    .col-sm-5
.row.bottom-row
    #donationCol.col-md-12.scroll
