.row.middle-row.padding-top
    .col-sm-6
        .form-inline
            .button-group
                button.btn.searchtagsbtn.orangebtn.dropdown-toggle(type='button', data-toggle='dropdown')
                    | search requests by tags
                    span.caret
                ul#myDonationsSearchByTags.dropdown-menu.searchtags
            .button-group
                button.btn.orderbybtn.orangebtn.dropdown-toggle(type='button', data-toggle='dropdown')
                    | order requests
                    span.caret
                ul#myDonationsOrderBy.dropdown-menu.searchtags
                    li
                        a(href='#', data-value='new', tabindex='-1')
                            input#new(type='checkbox')
                        | &nbsp;new to old
                    li
                        a(href='#', data-value='old', tabindex='-1')
                            input#old(type='checkbox')
                        | &nbsp;old to new
                    .dropdown-divider
                    li
                        a(href='#', data-value='low', tabindex='-1')
                            input#low(type='checkbox')
                        | &nbsp;low to high
                    li
                        a(href='#', data-value='high', tabindex='-1')
                            input#high(type='checkbox')
                        | &nbsp;high to low
            a.btn.gobtn.orangebtn(href='#') go
    .col-sm-6
        .form-inline
            .totalDonationsMessage Your total donations this year:
            .totalDonations &nbsp
                b#totalDonations
.row.bottom-row
    #myDonationCol.col-md-10.scroll
