.row.middle-row.padding-top
    .col-sm-6
        .form-inline
            input#donationFilter.round(type='text', placeholder='filter donations by date or something')
            a.btn.roundminibtn.winebtn(href='#') go
    .col-sm-6
        .form-inline
            .totalDonationsMessage Your total donations this year:
            .totalDonations &nbsp
                b $245
.row.bottom-row
    #myDonationCol.col-md-12.scroll
