.row.text-center
    .col-sm-12
        .form-inline
            .totalDonationsMessage Your total donations this year:
            .totalDonations &nbsp
                b#totalDonations
.row
    #myDonationCol.col-md-12.scroll
