.row.middle-row.padding-top
    .col-sm-7
        .form-inline
            input#donationFilter.round(type='text', placeholder='filter donations by date or something')
            a.btn.roundminibtn.winebtn(href='#') go
    .col-sm-5
.row.bottom-row
    #myDonationCol.col-md-12.scroll
