.row
    .col-md-8.col-md-offset-2
        .panel.panel-default
            .panel-body
                .row
                    .col-md-3
                        img#myImage.img-thumbnail(src='/img/wine_default.png')
                    .col-md-1
                        h2#myUsername username