.row.topborder
    .col-md-2
        img#requestfeed(src='/img/smiley.png', style='height:100%; width:100%;')
    .col-md-10
        button.roundmediumbtn.winebtn edit my profile
br
.row
    .col-md-1
    .col-md-1
        b my tags:
    #myTags.col-md-8
    .col-md-2
br
.row
    .col-md-1
    .col-md-1
        b my bio:
    #myBio.col-md-8
    .col-md-2
br
.row.topborder
    .col-md-1
    .col-md-1
        b my email:
    #myEmail.col-md-8
    .col-md-2
