.container-fluid
    .row(style="margin-bottom:60px")
    .row
        .col-md-8.col-md-offset-2
            .row
                .panel.panel-default
                    .panel-body
                        .container-fluid
                            .row
                                .col-md-3
                                    img#myImage.img-thumbnail(src='/img/wine_default.png')
                                .col-md-5
                                    .container-fluid
                                        .row
                                            h1#myUsername(style="padding-left: 15px") username
                                        .row(style="bottom:60px")
                                            i(style="padding-left: 15px") Your total donations this year:
                                            i &nbsp
                                                b#totalDonations
                                .col-md-4
                                    .container-fluid
                                        .row
                                            .col-md
                                                .dropdown.pull-right(style="margin-top: 20px")
                                                    button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                                        i.fas.fa-cog.fa-2x
                                                        span.caret
                                                    ul.dropdown-menu(aria-labelledby='dropdownMenu1', style='font-size: 14px;')
                                                        li
                                                            a#editProfileBtn.dropdown-item(href='#', data-toggle='modal', data-target='#editProfileModal', data-backdrop='static') edit profile
                                                        li
                                                            a#changePasswordBtn.dropdown-item(href='#', data-toggle='modal', data-target='#changePasswordModal', data-backdrop='static') change password
                                                        //li
                                                            a#createAvatarBtn.dropdown-item(href='#', data-toggle='modal', data-target='#createAvatarModal', data-backdrop='static') create avatar
                                                        li.divider(role='separator')
                                                        li
                                                            a#deleteAccountBtn.dropdown-item(href='#', data-toggle='modal', data-target='#deleteAccountModal', data-backdrop='static') delete account
                                        .row(style="margin-bottom:50px")
                                        .row
                                            .col-md
                                                .span.pull-right
                                                    span.iconbox.yellow.whitetext(data-title='My Fulfilled Requests', style='display: inline-block;')
                                                        i.fas.fa-gift.fa-2x
                                                        #receiveCount
                                                    span.iconbox.orange.whitetext(data-title='My Donations', style='display: inline-block;')
                                                        i.fas.fa-angle-double-right.fa-2x
                                                        #donateCount
            .row
                ul.nav.nav-tabs
                    li.nav-item.active
                        a.nav-link(href='#about', data-toggle='tab') About
                    li.nav-item
                        a.nav-link(href='#myRequests', data-toggle='tab') Request History
                    li.nav-item
                        a.nav-link(href='#myDonations', data-toggle='tab') Donation History
                    li.nav-item
                        a#createAvatarBtn(href='#', data-toggle='modal', data-target='#createAvatarModal', data-backdrop='static') Create New Avatar
                .tab-content
                    #about.tab-pane.active.fade-in(style='font-size: 14pt;')
                        br
                        ul.list-group
                            li.list-group-item
                                .container-fluid
                                    .row
                                        .col-md-3
                                            .text-uppercase First Name:
                                        .col-md-9
                                            #myFirstName
                            li.list-group-item
                                .container-fluid
                                    .row
                                        .col-md-3
                                            .text-uppercase Last Name:
                                        .col-md-9
                                            #myLastName
                            li.list-group-item
                                .container-fluid
                                    .row
                                        .col-md-3
                                            .text-uppercase Email:
                                        .col-md-9
                                            #myEmail
                            li.list-group-item
                                .container-fluid
                                    .row
                                        .col-md-3
                                            .text-uppercase Member Since:
                                        .col-md-9
                                            #memberSince 2018
                            li.list-group-item
                                .container-fluid
                                    .row
                                        .col-md-3
                                            .text-uppercase Bio:
                                        .col-md-9
                                            #myBio
                            li.list-group-item
                                .container-fluid
                                    .row
                                        .col-md-3
                                            .text-uppercase Tags:
                                        .col-md-9
                                            #myTags
                    #myRequests.tab-pane.fade
                        br
                        #myRequestHistory(style='font-size: 14pt;') There is no request history available.
                    #myDonations.tab-pane.fade
                        br
                        #myDonationHistory(style='font-size: 14pt;') There is no donation history available.
                    #createAvatarLi.tab-pane.fade
                        //#avatarPlaceHolder2