.row.text-center
    .col-sm-12
        a#newRequestBtn.newrequestbtn.btn.turquoisebtn.whitetext(data-toggle='modal', data-target='#newRequestModal', data-backdrop='static') + new request
.row
    #myRequestCol.col-md-12.scroll
.row
    .fa-5x
        i#myRequestSpinner(style="display: none").fas.fa-spinner.fa-spin