.row.myhistorymiddlerow
    .col-sm-12
        .form-inline
            .button-group
                button.btn.searchtagsbtn.orangebtn.dropdown-toggle(type='button', data-toggle='dropdown')
                    | search requests by tags
                    span.caret
                ul#myRequestsSearchByTags.dropdown-menu.searchtags
                    li
                        a(href='#', data-value='bills', data-group='requesttags', tabindex='-1')
                            input(type='checkbox')
                        | &nbsp;#bills
                    li
                        a(href='#', data-value='carRepair', data-group='requesttags', tabindex='-1')
                            input(type='checkbox')
                        | &nbsp;#carRepair
                    li
                        a(href='#', data-value='clothing', data-group='requesttags', tabindex='-1')
                            input(type='checkbox')
                        | &nbsp;#clothing
                    li
                        a(href='#', data-value='forAChild', data-group='requesttags', tabindex='-1')
                            input(type='checkbox')
                        | &nbsp;#forAChild
                    li
                        a(href='#', data-value='groceries', data-group='requesttags', tabindex='-1')
                            input(type='checkbox')
                        | &nbsp;#groceries
                    li
                        a(href='#', data-value='rent', data-group='requesttags', tabindex='-1')
                            input(type='checkbox')
                        | &nbsp;#rent
            .button-group
                button.btn.orderbybtn.orangebtn.dropdown-toggle(type='button', data-toggle='dropdown')
                    | order requests
                    span.caret
                ul#myRequestsorderBy.dropdown-menu.searchtags
                    li
                        a(href='#', data-value='open', tabindex='-1')
                            input#open(type='checkbox')
                        | &nbsp;open
                    li
                        a(href='#', data-value='fullfilledWithOutThankYou', tabindex='-1')
                            input#fullfilledWithOutThankYou(type='checkbox')
                        | &nbsp;fullfilled without thank you
                    li
                        a(href='#', data-value='fullfilledWithThankYou', tabindex='-1')
                            input#fullfilledWithThankYou(type='checkbox')
                        | &nbsp;fullfilled with thank you
            a.btn.gobtn.orangebtn(href='#') go
    //.col-sm-5
        a#newRequestBtn.newrequestbtn.btn.orangebtn.whitetext(data-toggle='modal', data-target='#newRequestModal', data-backdrop='static') + new request
.row
    #myRequestCol.col-md-12.scroll