nav.navbar.navbar-default.navbar-fixed-top.navbar-md(style='margin:auto')
    .container-fluid
        .navbar-header
            a.navbar-brand(href='http://giveitforward.us')
                img(style='margin:-5%;', src='/img/logo.png', alt='Give It Forward')
        ul.nav.navbar-nav(style='font-size: 1.4em;')
            li
                a#homeBtn(href='#') Requests
            li
                a#orgsBtn(href='#') Orgs
        ul.nav.navbar-nav.navbar-right(style='font-size: 1.2em;')
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | me
                    span.caret
                ul.dropdown-menu
                    li
                        a#myProfileBtn(href='#') profile
                    li
                        a#usersBtn
                    li.divider(role='separator')
                    li
                        a#logoutBtn(href='#') sign out
.container-fluid.below-navbar.off-white
    #mainHomeContainer
