for note in locals.models
    .row.notificationrow
        .col-md-12
            //a#notificationLink(href='#', data-message='#{note.get("message")}', data-toggle='modal', data-target='#notificationModal', data-backdrop='static') #{note.get("message")}
            a#notificationLink(href='#', data-message='#{note.get("message")}', data-toggle='modal', data-target='#viewThankYouModal', data-backdrop='static') #{note.get("message")}