.row(style='height:40px')
.row
    .col-md-8.col-md-offset-2
        .orgscroll
            #orgOrgDiv
                br
                ul.nav.nav-tabs
                    li.nav-item.active
                        a.nav-link.active(href='#myOrgColTab', data-toggle='tab') All Orgs
                    li.nav-item
                        a.nav-link(href='#myOrgTab', data-toggle='tab') My Org
                .fa-5x
                    i#orgSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
                .tab-content
                    #myOrgColTab.tab-pane.active
                        br
                        .container-fluid
                            .row(style='float:right')
                                .input-group
                                    input#searchOrgs.form-control.fourteen-font(type='text', placeholder='search orgs...')
                                    #searchOrgClear.input-group-addon
                                        i.glyphicon.glyphicon-remove-circle
                                    #goSearchOrgs.input-group-addon
                                        i.glyphicon.glyphicon-search
                        br
                        #orgCol.activeTabDiv
                    #myOrgTab.tab-pane
                        br
                        #myOrgCol