.row.topborderyellow.padding-top
    .col-sm-7
        .form-inline
            input.round(type='text', placeholder='search for orgs')
            a.btn.roundminibtn.turquoisebtn(href='#') go
    .col-sm-5
        a#newOrgBtn.newrequestbtn.btn.turquoisebtn.whitetext(data-toggle='modal', data-target='#newOrgModal', data-backdrop='static') add your org
.row.bottom-row
    #orgCol.col-md-12.scroll