.row.bottom-row-org
    .col-md-12
        .orgscroll
            #orgAdminDiv
                ul.nav.nav-tabs
                    li.nav-item.active
                        a.nav-link.active(href='#orgColTab', data-toggle='tab') Approved Orgs
                    li.nav-item
                        a.nav-link(href='#pendingOrgTab', data-toggle='tab') Pending Orgs
                .fa-5x
                    i#homeLoginSpineer(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
                .tab-content
                    #orgColTab.tab-pane.active
                        br
                        #orgCol.activeTabDiv
                    #pendingOrgTab.tab-pane
                        br
                        #pendingOrgCol