.row.topborderyellow.padding-top
    .col-sm-7
        .form-inline
            input#searchOrgs.round(type='text', placeholder='search for orgs')
            a#goSearchOrgs.btn.roundminibtn.turquoisebtn(href='#') go
    .col-sm-5
        a#newOrgBtn.newrequestbtn.btn.turquoisebtn.whitetext(data-toggle='modal', data-target='#newOrgModal', data-backdrop='static') add your org
.row.bottom-row
    .fa-5x
        i#orgSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
    #orgCol.col-md-12.scroll