.row(style='height:40px')
.row
    .col-md-8.col-md-offset-2
        .orgscroll
            #orgAdminDiv
                br
                ul.nav.nav-tabs
                    li.nav-item.active
                        a.nav-link.active(href='#orgColTab', data-toggle='tab') Approved Orgs
                    li.nav-item
                        a.nav-link(href='#pendingOrgTab', data-toggle='tab') Pending Orgs
                .fa-5x
                    i#homeLoginSpineer(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
                .tab-content
                    #orgColTab.tab-pane.active
                        br
                        .container-fluid
                            .row(style='float:right')
                                .input-group
                                    input#searchOrgs.form-control(type='text', placeholder='search orgs...')
                                    #searchOrgClear.input-group-addon
                                        i.glyphicon.glyphicon-remove-circle
                                    #goSearchOrgs.input-group-addon
                                        i.glyphicon.glyphicon-search
                        br
                        #orgCol.activeTabDiv
                    #pendingOrgTab.tab-pane
                        br
                        #pendingOrgCol