.row.bottom-row-org
    .col-md-12
        .orgscroll
            #orgOrgDiv
                ul.nav.nav-tabs
                    li.nav-item.active
                        a.nav-link.active(href='#myOrgColTab', data-toggle='tab') All Orgs
                    li.nav-item
                        a.nav-link(href='#myOrgTab', data-toggle='tab') My Org
                .tab-content
                    #myOrgColTab.tab-pane.active
                        br
                        #orgCol.activeTabDiv Filler for the all orgs.
                    #myOrgTab.tab-pane
                        br
                        #myOrgCol Filler for my org.