.row.middle-row.padding-top
    .col-sm-9
        .form-inline
            input.round(type='text', placeholder='search for orgs')
            a.btn.roundminibtn.turquoisebtn(href='#') go
    .col-sm-3
        //a#newRequestBtn.newrequestbtn.btn.turquoisebtn.whitetext(data-toggle='modal', data-target='#newRequestModal', data-backdrop='static') add org
.row.bottom-row
    #orgCol.col-md-12.scroll