.row(style='height:40px')
.row
    .col-md-8.col-md-offset-2
        .orgscroll
            #orgOrgDiv
                ul.nav.nav-tabs
                    li.nav-item.active
                        a.nav-link.active(href='#myOrgColTab', data-toggle='tab') All Orgs
                    li.nav-item
                        a.nav-link(href='#myOrgTab', data-toggle='tab') My Org
                .fa-5x
                    i#orgSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
                .tab-content
                    #myOrgColTab.tab-pane.active
                        br
                        .container-fluid
                            .row
                                .input-group
                                    input#searchOrgs.form-control(type='text', placeholder='search orgs...')
                                    span.input-group-btn
                                        button#goSearchOrgs.btn.btn-default(type='button')
                                            span.glyphicon.glyphicon-search
                        br
                        #orgCol.activeTabDiv
                    #myOrgTab.tab-pane
                        br
                        #myOrgCol