.row.middle-row.padding-top
    .col-sm-9
        .form-inline
            input.round(type='text', placeholder='search for orgs')
            a.btn.roundminibtn.turquoisebtn(href='#') go
    .col-sm-3
.row.bottom-row
    #orgCol.col-md-12.scroll