.row(style='height:40px;')
.row
    .input-group(style='width=100%;')
        input#search_param(type='hidden', name='search_param', value='all')
        input#searchOrgs.form-control(type='text', name='x', placeholder='Search...', style='border-bottom-left-radius:4px; border-top-left-radius:4px;width=100%;')
        span.input-group-btn
            button#goSearchOrgs.btn.btn-default(type='button')
                span.glyphicon.glyphicon-search