.container-fluid
    .row(style='margin:30px;')
    .row
        .col-md-10.no-padding
            .input-group
                .input-group-btn
                    .btn-group(role='group')
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', style='font-size:14pt')
                            | Filter by
                            span.caret(style='margin-left:5px;')
                        ul#searchByTags.dropdown-menu(style='font-size:14pt')
                    .btn-group(role='group')
                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', style='font-size:14pt')
                            | Order by
                            span.caret(style='margin-left:5px;')
                        ul#orderBy.dropdown-menu(style='font-size:14pt')
                            li
                                a(href='#', data-value='new', data-tid=1, data-group='newold', tabindex='-1') new to old
                            li
                                a(href='#', data-value='old', data-tid=2, data-group='newold', tabindex='-1') old to new
                            li.divider
                            li
                                a(href='#', data-value='low', data-tid=3, data-group='lowhigh', tabindex='-1') low to high
                            li
                                a(href='#', data-value='high', data-tid=4, data-group='lowhigh', tabindex='-1') high to low
                    button#goFilterRequests.btn.btn-default(style='font-size:14pt')
                        span.glyphicon.glyphicon-search
                //input#searchByTerm.form-control(type='text', name='x', placeholder='Search tags...')

        .col-md-2.no-padding(style='padding-left:20px;')
            button#newRequestBtn.btn.turquoise.whitetext(data-toggle='modal', data-target='#newRequestModal')
                i.fas.fa-plus(style='width:100%;top-padding:-1%;')