.row
    .fa-5x
        i#requestFeedSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
    #paypalSpinner(style='display: none').loading
    #requestCol.col-md-10.scroll Loading...
