.row.middle-row.padding-top
    .col-sm-7
        .form-inline
            input#searchForTags.round(type='text', placeholder='search for tags')
            a.btn.roundminibtn.winebtn(href='#') go
    .col-sm-5
        a#newRequestBtn.newrequestbtn.btn.winebtn.whitetext(data-toggle='modal', data-target='#newRequestModal', data-backdrop='static') + new request
.row.bottom-row
    #requestCol.col-md-12.scroll
