.col-md-2.text-center
    .panel.panel-default(style='display: inline-block;')
        .panel-body
            span.iconbox.yellowtext.transparent(data-title='My Fulfilled Requests', style='display: inline-block;')
                i.fas.fa-gift.fa-2x
                #receiveCount
            span.iconbox.orangetext.transparent(data-title='My Donations', style='display: inline-block;')
                i.fas.fa-angle-double-right.fa-2x
                #donateCount
.col-md-8
    #requestCol.scroll
.fa-5x
    i#requestFeedSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
#paypalSpinner(style='display: none').loading

