for tag in locals.models
    li
        a(href='#', data-name='#{tag.get("tagname")}', data-tid='#{tag.get("tid")}', data-group='usertag', tabindex='-1') #{tag.get("tagname")}
li.divider
    li
        a(href='#', data-name='bills', data-tid=1, data-group='requesttag', tabindex='-1') bills
    li
        a(href='#', data-name='carRepairs', data-tid=2, data-group='requesttag', tabindex='-1') carRepair
    li
        a(href='#', data-name='clothing', data-tid=3, data-group='requesttag', tabindex='-1') clothing
    li
        a(href='#', data-name='forAChild', data-tid=4, data-group='requesttag', tabindex='-1') forAChild
    li
        a(href='#', data-name='groceries', data-tid=5, data-group='requesttag', tabindex='-1') groceries
    li
        a(href='#', data-name='rent', data-tid=6, data-group='requesttag', tabindex='-1') rent
    li
        a(href='#', data-name='schoolRelated', data-tid=7, data-group='requesttag', tabindex='-1') schoolRelated