#searchByUserTags
    for tag in locals.models
        li
            a(href='#', data-value='#{tag.get("tagname")}', data-group='usertags', tabindex='-1')
                input(type='checkbox')
            | &nbsp;##{tag.get("tagname")}
.dropdown-divider
#searchByRequestTags
    li
        a(href='#', data-value='bills', data-group='requesttags', tabindex='-1')
            input(type='checkbox')
        | &nbsp;#bills
    li
        a(href='#', data-value='carRepair', data-group='requesttags', tabindex='-1')
            input(type='checkbox')
        | &nbsp;#carRepair
    li
        a(href='#', data-value='clothing', data-group='requesttags', tabindex='-1')
            input(type='checkbox')
        | &nbsp;#clothing
    li
        a(href='#', data-value='forAChild', data-group='requesttags', tabindex='-1')
            input(type='checkbox')
        | &nbsp;#forAChild
    li
        a(href='#', data-value='groceries', data-group='requesttags', tabindex='-1')
            input(type='checkbox')
        | &nbsp;#groceries
    li
        a(href='#', data-value='rent', data-group='requesttags', tabindex='-1')
            input(type='checkbox')
        | &nbsp;#rent