div
    h1 Optional Profile Info
    br
    .container
        .row
            .col-md-6
                img#userImage(src='/img/default_profile_pic_no_bckgrnd.png', style='height:65%; width:55%;')
            .col-md-6
                input#fileChooser(type='file', style='display: none')
                input#uploadImage.roundmediumbtn.winebtn.mainbtn(type='submit', value='upload image')
                br
                //input#chooseImage.roundmediumbtn.winebtn(type='submit', value='choose image')
                a#chooseImage.btn.roundmediumbtn.winebtn.whitetext(data-toggle='modal', data-target='#chooseUserImageModal', data-backdrop='static') choose image
        textarea#userBio.bio(rows='4', cols='60', placeholder='tell us about yourself...')
        br
        .button-group
            button.btn.round.greybtn.dropdown-toggle(type='button', data-toggle='dropdown')
                | choose tags
                span.caret
            ul#chooseUserTags.dropdown-menu.choosetags
                li
                    a(href='#', data-value='disabled', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#disabled
                li
                    a(href='#', data-value='disabledFamily', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#disabledFamily
                li
                    a(href='#', data-value='domesticViolenceSurvivor', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#domesticViolenceSurvivor
                li
                    a(href='#', data-value='lgbt', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#lgbt
                li
                    a(href='#', data-value='singleParent', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#singleParent
                li
                    a(href='#', data-value='veteran', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#veteran
        input#addInfo.round.winebtn.mainbtn(type='submit', value='Add Info to Profile')
        br
        div(style='color:blue;')
            a#fillOutLater(href='#') Fill out later
