div
    // <form>
    h1 Optional Profile Info
    br
    .container
        .row
            .col-md-6
                img#userImage(src='/img/default_profile_pic.png', style='height:90%; width:80%;')
            .col-md-6
                input#fileChooser(type='file', style='display: none')
                input#uploadImage.roundmediumbtn.winebtn.mainbtn(type='submit', value='upload image')
                br
                input#chooseImage.roundmediumbtn.winebtn(type='submit', value='choose image')
                br
            .col-md-3
        br
        // <input id="userBio" class="round bio" type="text" placeholder="user bio"><br><br>
        textarea#userBio.bio(rows='4', cols='60', placeholder='user bio')
        //.dropdown
        //    button#dropdownMenuButton.round.greybtn.dropdown-toggle.round(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        //        | Select Tags
        //    .dropdown-menu(aria-labelledby='dropdownMenuButton')
        //        a.dropdown-item(href='#') #student
        //        a.dropdown-item(href='#') #veteran
        //        a.dropdown-item(href='#') #singleParent
        //        a.dropdown-item(href='#') #lgbt
        //        a.dropdown-item(href='#') #domesticViolenceSurvivor
        //        a.dropdown-item(href='#') #disabled
        //        a.dropdown-item(href='#') #disabledFamily
        br
        //select.tag-select(multiple='')
        //    option #disabled
        //    |
        //    option #disabledFamily
        //    |
        //    option #domesticViolenceSurvivor
        //    |
        //    option #lgbt
        //    |
        //    option #singleParent
        //    |
        //    option #student
        //    |
        //    option #veteran
        .button-group
            button.btn.round.greybtn.dropdown-toggle(type='button', data-toggle='dropdown')
                | choose tags
                span.caret
            ul#chooseUserTags.dropdown-menu.choosetags
                li
                    a(href='#', data-value='disabled', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#disabled
                li
                    a(href='#', data-value='disabledFamily', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#disabledFamily
                li
                    a(href='#', data-value='domesticViolenceSurvivor', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#domesticViolenceSurvivor
                li
                    a(href='#', data-value='lgbt', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#lgbt
                li
                    a(href='#', data-value='singleParent', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#singleParent
                li
                    a(href='#', data-value='veteran', tabindex='-1')
                        input(type='checkbox')
                    | &nbsp;#veteran
        // <input class="round winebtn mainbtn" type="submit" value="Add Info to Profile" formaction="requestFeed.html"><br>
        // <a href='/requestFeed' id="addInfoRef" style="display: none" /></a>
        // <a href='/requestFeed' id="addInfo" class="btn round winebtn mainbtn" />Add Info to Profile</a>
        input#addInfo.round.winebtn.mainbtn(type='submit', value='Add Info to Profile')
        br
        div(style='color:blue;')
            a#fillOutLater(href='#') Fill out later
    // </form>
