div
    .row
        .col-md-6
            input#newFirstname.roundhalf(type='text', placeholder='firstname')
        .col-md-6
            input#newLastname.roundhalf(type='text', placeholder='lastname')
    input#newUsername.round(type='text', placeholder='username')
    input#newEmail.round(type='text', placeholder='email')
    input#newPassword.round(type='password', placeholder='password')
    input#newVerifyPassword.round(type='password', placeholder='verify password')
    button#createAccountBtn.btn.round.turquoisebtn Create Account
