.row.topHomeBar
    #usernameDisplay.col-md-9.titleheading2
    .col-md-2.icon-margin.form-inline
        img.icon-mini(src='/img/donate_icon.png')
        #donateCount
        img.icon-mini(src='/img/gift_icon.png')
        #receiveCount
#homeContainer.container-fluid