.row.topHomeBar
    #usernameDisplay.col-md-9.titleheading2
    .col-md-2.icon-margin.form-inline
        img.icon-mini(src='/img/purple_shadow_logo.png')
        #donateCount
        img.icon-mini(src='/img/purple_gift.png')
        #receiveCount
#homeContainer.container-fluid