.row
    .col-md-8.col-md-offset-2
        .container-fluid
            .row(style='height:40px;')
            .row
                .input-group
                    input#searchUsers.form-control(type='text', name='x', placeholder='search users...')
                    span.input-group-btn
                        button#goSearchUsers.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-search
                .fa-5x
                i#homeLoginSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
.row(style='margin: 40px;')
    .col-md-8.col-md-offset-2
        #usersCol.scroll