.row.topborderyellow.padding-top
    .col-sm-9
        .form-inline
            input#searchUsers.round(type='text', placeholder='search for users')
            a#goSearchUsers.btn.roundminibtn.turquoisebtn(href='#') go
        .fa-5x
            i#homeLoginSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
    .col-sm-3
.row.bottom-row
    #usersCol.col-md-10.scroll Loading...