.row
    //.col-md-8
    //    .row(style='height:40px;')
    //    .row
    //        .input-group
    //            input#search_param(type='hidden', name='search_param', value='all')
    //            input.form-control(type='text', name='x', placeholder='Search term...')
    //            span.input-group-btn
    //                button.btn.btn-default(type='button')
    //                    span.glyphicon.glyphicon-search
    .col-sm-9
        .form-inline
            input#searchUsers.round(type='text', placeholder='search for users')
            a#goSearchUsers.btn.roundminibtn.turquoisebtn(href='#') go
        .fa-5x
            i#homeLoginSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
    .col-sm-3
.row.bottom-row
    #usersCol.col-md-10.scroll