.row
    .col-md-8.col-md-offset-2
        .container-fluid
            .row(style='height:40px;')
            .row
                .input-group
                    input#searchUsers.form-control(type='text', name='x', placeholder='search users...')
                    #searchUsersClear.input-group-addon
                        i.glyphicon.glyphicon-remove-circle
                    #goSearchUsers.input-group-addon
                        i.glyphicon.glyphicon-search
.row(style='margin: 40px;')
    .col-md-8.col-md-offset-2
        .fa-5x
            i#homeLoginSpinner(style="display: none").loading-spinner.fas.fa-spinner.fa-spin
        #usersCol.scroll