<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 btn-group-vertical btn-col dimgreybackground">
            <a class="btn homebtn lightgreybackground" href="#"><img id="logoMini" src="/img/maroon_shadow.png"></a>
            <a class="greybtncol btn selected" id="homeBtn" href="#">Home</a>
            <a class="greybtncol btn" id="orgsBtn" href="#">Orgs</a>
            <a class="greybtncol btn" id="notesBtn" href="#" data-toggle="popover" data-trigger="focus" data-content="Some content inside the popover, more content, more content, more content">Notifications</a>
            <a class="greybtncol btn" id="myProfileBtn" href="#">My Profile</a>
            <a class="greybtncol btn" id="myRequestsBtn" href="#">My Requests</a>
            <a class="greybtncol btn" id="myDonationsBtn" href="#">My Donations</a>
            <a class="greybtncol btn" id="logoutBtn" href="#">Log Out</a>
        </div>
        <div class="col-md-10  no-padding">
            <div class="row">
                <div class="col-md-8 titleheading2" id="usernameDisplay"></div>
                <div class="col-md-3 icon-margin form-inline">
                    <img class="icon-mini" src="/img/maroon_shadow.png"><div id="numDonations"></div>
                    <img class="icon-mini" src="/img/maroon_daisy.png"><div id="numFulfilledRequests"></div>
                </div>
            </div>
            <div class="container-fluid" id="homeContainer">
            </div>
        </div>
    </div>
</div>