<div>
    <input id="newUsername" class="round" type="text" placeholder="username">
    <input id="newEmail" class="round" type="text" placeholder="email">
    <input id="newPassword" class="round" type="password" placeholder="password">
    <input id="newVerifyPassword" class="round" type="password" placeholder="verify password">
    <!--Are you an organization?-->
    <!--<input id="yesOrg" class="checkmargin" type="checkbox">Yes-->
    <!--<input id="noOrg" class="checkmargin" type="checkbox" checked>No-->
    <!--<div id="findOrg" class="dropdown" style="display:none;">-->
        <!--<button class="greybtn round dropdown-toggle" type="button" id="dropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Find Your Org-->
        <!--</button>-->
        <!--<div id="findOrgMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
            <!--<a class="dropdown-item" href="#">U of U Women's Resource Center</a>-->
            <!--<a class="dropdown-item" href="#">U of U Veteran's Support Center</a>-->
            <!--<a class="dropdown-item" href="#">Other Org</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br><br>-->
    <!--<input id="createAccountBtn" class="round winebtn" type="submit" value="Create Account"><br><br>-->
    <button id="createAccountBtn" class="btn round winebtn" >Create Account</button>
    <!--<input class="round winebtn" type="submit" value="Create Account"  formaction="signUp2.html"><br><br>-->
</div>