<div>
    <!--<form>-->
        <h1>Optional Profile Info</h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img id="userImage" src="/img/smiley.png" style="height:90%; width:80%;">
                </div>
                <div class="col-md-6">
                    <input id="fileChooser" type="file" style="display: none" />
                    <input id="uploadImage" class="roundmediumbtn winebtn mainbtn" type="submit" value="upload image"><br>
                    <input id="chooseImage" class="roundmediumbtn winebtn" type="submit" value="choose image"><br>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <br>
            <!--<input id="userBio" class="round bio" type="text" placeholder="user bio"><br><br>-->
            <textarea id="userBio" class="bio" rows="4" cols="60" placeholder="user bio"></textarea>
            <div class="dropdown">
                <button class="round greybtn dropdown-toggle round" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Tags
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">#student</a>
                    <a class="dropdown-item" href="#">#veteran</a>
                    <a class="dropdown-item" href="#">#singleParent</a>
                    <a class="dropdown-item" href="#">#lgbt</a>
                    <a class="dropdown-item" href="#">#domesticViolenceSurvivor</a>
                    <a class="dropdown-item" href="#">#disabled</a>
                    <a class="dropdown-item" href="#">#disabledFamily</a>
                </div>
            </div>
            <!--<input class="round winebtn mainbtn" type="submit" value="Add Info to Profile" formaction="requestFeed.html"><br>-->
            <!--<a href='/requestFeed' id="addInfoRef" style="display: none" /></a>-->
            <!--<a href='/requestFeed' id="addInfo" class="btn round winebtn mainbtn" />Add Info to Profile</a>-->
            <input id="addInfo" class="round winebtn mainbtn" type="submit" value="Add Info to Profile"><br>
            <div style="color:blue;">
                <a id="fillOutLater" href="#">Fill out later</a>
            </div>
        </div>
    <!--</form>-->
</div>